.popup.popup-faq(data-popup="faq")
  .popup__wrapper
    .popup__close
      button.popup__icon(type="button" aria-label="close")
        svg(viewBox="0 0 24 24" width="36px" height="36px")
          use(xlink:href="#svg-arrow-right")
    .popup__close-mob
      button.popup__icon(type="button" aria-label="close")
        svg(viewBox="0 0 24 24" width="24px" height="24px")
          use(xlink:href="#svg-x-mark")
    .popup__container
      a(href="#planning").faq__link.active
        svg.faq__link__icon(
          viewBox="0 0 24 24"
          width="24px"
          height="24px"
        )
          use(xlink:href="#svg-selected")
        span Planning
      a(href="#antarctica-cruises").faq__link
        svg.faq__link__icon(
          viewBox="0 0 24 24"
          width="24px"
          height="24px"
        )
          use(xlink:href="#svg-selected")
        span Antarctica cruises
      a(href="#arctic-cruises").faq__link
        svg.faq__link__icon(
          viewBox="0 0 24 24"
          width="24px"
          height="24px"
        )
          use(xlink:href="#svg-selected")
        span Arctic cruises
      a(href="#before-you-go").faq__link
        svg.faq__link__icon(
          viewBox="0 0 24 24"
          width="24px"
          height="24px"
        )
          use(xlink:href="#svg-selected")
        span Before you go
      a(href="#life-onboard").faq__link
        svg.faq__link__icon(
          viewBox="0 0 24 24"
          width="24px"
          height="24px"
        )
          use(xlink:href="#svg-selected")
        span Life Onboard