.popup.popup-privacy-policy(data-popup="privacy-policy")
  .popup__wrapper
    .popup__close
      button.popup__icon(type="button" aria-label="close")
        svg(viewBox="0 0 24 24" width="36px" height="36px")
          use(xlink:href="#svg-arrow-right")
    .popup__close-mob
      button.popup__icon(type="button" aria-label="close")
        svg(viewBox="0 0 24 24" width="24px" height="24px")
          use(xlink:href="#svg-x-mark")
    .popup__container
      a(href="#independent-data-controllers").privacy-policy__link.active
        svg.privacy-policy__link__icon(
          viewBox="0 0 24 24"
          width="24px"
          height="24px"
        )
          use(xlink:href="#svg-selected")
        span Independent Data controllers
      a(href="#personal-data-categories").privacy-policy__link
        svg.privacy-policy__link__icon(
          viewBox="0 0 24 24"
          width="24px"
          height="24px"
        )
          use(xlink:href="#svg-selected")
        span Personal Data Categories
      a(href="#legal-basis-of-data-processing").privacy-policy__link
        svg.privacy-policy__link__icon(
          viewBox="0 0 24 24"
          width="24px"
          height="24px"
        )
          use(xlink:href="#svg-selected")
        span Legal basis of data processing
      a(href="#method-of-data-processing").privacy-policy__link
        svg.privacy-policy__link__icon(
          viewBox="0 0 24 24"
          width="24px"
          height="24px"
        )
          use(xlink:href="#svg-selected")
        span Method of data processing
      a(href="#diffusion-of-personal-data").privacy-policy__link
        svg.privacy-policy__link__icon(
          viewBox="0 0 24 24"
          width="24px"
          height="24px"
        )
          use(xlink:href="#svg-selected")
        span Diffusion of personal data
      a(href="#non-eu-countries-data-transfer").privacy-policy__link
        svg.privacy-policy__link__icon(
          viewBox="0 0 24 24"
          width="24px"
          height="24px"
        )
          use(xlink:href="#svg-selected")
        span Non-EU countries data transfer
      a(href="#data-retention-period").privacy-policy__link
        svg.privacy-policy__link__icon(
          viewBox="0 0 24 24"
          width="24px"
          height="24px"
        )
          use(xlink:href="#svg-selected")
        span Data retention period
      a(href="#data-subject-rights").privacy-policy__link
        svg.privacy-policy__link__icon(
          viewBox="0 0 24 24"
          width="24px"
          height="24px"
        )
          use(xlink:href="#svg-selected")
        span Data subject rights