mixin button(className, buttonType, title, icon, filterStep)
  if buttonType
    button.button(
      type="" + buttonType
      aria-label="" + title ? false : icon
      class="" + className
      data-filter-step="" + filterStep || false
    )
      .button__text= title
      if icon
        svg(viewBox="0 0 24 24" width="24px" height="24px")
          use(xlink:href="" + icon)
  else
    a.button(href="#" class="" + className)
      .button__text= title