include ../mixins/headline
include ../mixins/button

mixin default-slider-two(i, className='')
  .splide.default-slider__list(class="default-slider" + i + "__track " + className)
    .splide__track
      .splide__list
        .default-slider__list__item.splide__slide
          .default-slider__image
            img(src="/assets/images/default-slider/item-1.png" alt="item-1")
        .default-slider__list__item.splide__slide
          .default-slider__image
            img(src="/assets/images/default-slider/item-2.png" alt="item-2")
        .default-slider__list__item.splide__slide
          .default-slider__image
            img(src="/assets/images/default-slider/item-3.png" alt="item-3")
        .default-slider__list__item.splide__slide
          .default-slider__image
            img(src="/assets/images/default-slider/item-1.png" alt="item-1")
        .default-slider__list__item.splide__slide
          .default-slider__image
            img(src="/assets/images/default-slider/item-1.png" alt="item-1")
    .splide__arrows
      button.splide__arrow.flip-slider__arrow.splide__arrow--prev(
        type="button"
        aria-controls="splide01-track"
        aria-label="Previous slide"
      )
        svg(viewBox="0 0 24 24" width="24px" height="24px")
          use(xlink:href="#svg-arrow-right")
      button.splide__arrow.flip-slider__arrow.splide__arrow--next(
        type="button"
        aria-controls="splide01-track"
        aria-label="Next slide"
      )
        svg(viewBox="0 0 24 24" width="24px" height="24px")
          use(xlink:href="#svg-arrow-right")