include ../mixins/headline
include ../mixins/button

mixin flip-slider(reversed, i)
  section.gapper-small.section.section-white.flip-slider(class="" + reversed)
    .wrapper
      .flip-slider__wrapper(data-slider="flip-slider")
        .flip-slider__content
          .flip-slider__top
            +headline('Onboard Experience', '', 'headline-md headline-white')
            .splide.flip-slider__list(class="flip-slider" + i + "__list")
              .splide__track
                .splide__list
                  .flip-slider__list__item.splide__slide
                    svg.flip-slider__list__icon(
                      viewBox="0 0 24 24"
                      width="24px"
                      height="24px"
                    )
                      use(xlink:href="#svg-selected")
                    span What to expect
                  .flip-slider__list__item.splide__slide
                    svg.flip-slider__list__icon(
                      viewBox="0 0 24 24"
                      width="24px"
                      height="24px"
                    )
                      use(xlink:href="#svg-selected")
                    span Restaurant and bars
                  .flip-slider__list__item.splide__slide
                    svg.flip-slider__list__icon(
                      viewBox="0 0 24 24"
                      width="24px"
                      height="24px"
                    )
                      use(xlink:href="#svg-selected")
                    span Excursions
                  .flip-slider__list__item.splide__slide
                    svg.flip-slider__list__icon(
                      viewBox="0 0 24 24"
                      width="24px"
                      height="24px"
                    )
                      use(xlink:href="#svg-selected")
                    span Fitness & Spa
              .splide__arrows
                button.splide__arrow.flip-slider__arrow.splide__arrow--prev(
                  type="button"
                  aria-controls="splide01-track"
                  aria-label="Previous slide"
                )
                  svg(viewBox="0 0 24 24" width="24px" height="24px")
                    use(xlink:href="#svg-arrow-right")
                button.splide__arrow.flip-slider__arrow.splide__arrow--next(
                  type="button"
                  aria-controls="splide01-track"
                  aria-label="Next slide"
                )
                  svg(viewBox="0 0 24 24" width="24px" height="24px")
                    use(xlink:href="#svg-arrow-right")
          .flip-slider__bottom
            +button('button-green button-no-center', '', 'Explore more')
        .splide.flip-slider__images(class="flip-slider" + i + "__images")
          .splide__track
            ul.splide__list
              .flip-slider__image.splide__slide
                img(
                  src="/assets/images/flip-slide.png"
                  alt="flip-slide"
                  loading="lazy"
                )
              .flip-slider__image.splide__slide
                img(
                  src="/assets/images/flip-slide.png"
                  alt="flip-slide"
                  loading="lazy"
                )
              .flip-slider__image.splide__slide
                img(
                  src="/assets/images/flip-slide.png"
                  alt="flip-slide"
                  loading="lazy"
                )
              .flip-slider__image.splide__slide
                img(
                  src="/assets/images/flip-slide.png"
                  alt="flip-slide"
                  loading="lazy"
                )
        +button('button-green button-no-center', '', 'Explore more')