doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1, maximum-scale=4"
      name="viewport"
    )
    meta(content="ie=edge" http-equiv="X-UA-Compatible")

    meta(content="#004155" name="msapplication-TileColor")
    meta(content="#004155" name="theme-color")

    block basicSeo
      meta(content="Site page" name="description")
      meta(content="Site page" name="keywords")
      meta(content="wotkad" name="author")

    meta(content="summary" name="twitter:card")
    meta(content="" name="twitter:description")
    meta(content="" name="twitter:image")

    meta(content="Site page" property="og:title")
    meta(content="" property="og:description")
    meta(content="" property="og:image")

    link(
      href="/assets/images/favicons/apple-touch-icon.png"
      rel="apple-touch-icon"
      sizes="180x180"
    )
    link(
      href="/assets/images/favicons/android-chrome-192x192.png"
      rel="icon"
      sizes="192x192"
      type="image/png"
    )
    link(
      href="/assets/images/favicons/favicon-32x32.png"
      rel="icon"
      sizes="32x32"
      type="image/png"
    )
    link(
      href="/assets/images/favicons/favicon-16x16.png"
      rel="icon"
      sizes="16x16"
      type="image/png"
    )
    link(href="/assets/images/favicons/favicon.ico" rel="shortcut icon")
    link(
      color="#004155"
      href="/assets/images/favicons/safari-pinned-tab.svg"
      rel="mask-icon"
    )

    block title
      title Swan Hellenic | Untitled page

    block manifestBrowserconfigFiles
      link(href="./manifest.json" rel="manifest" crossorigin)
      meta(content="./browserconfig.xml" name="msapplication-config")

    script.
      function autorun() {}
      if (window.addEventListener) window.addEventListener("load", autorun, false);
      else window.onload = autorun;
    noscript.
      It looks like you have Javascript disabled, which is why you're seeing this message.

  body
    include ../components/icons

    .render
      .render__container
        <svg class="render__logo" width="166px" height="40px" viewBox="0 0 166 40"><use xlink:href="#svg-logo"></use></svg>

    include ../components/header

    block content

    include ../components/footer

    block js