include ../mixins/headline
.booking-notification
  .booking-notification__wrapper
    +headline('Your booking request has been sent successfully', '', 'headline-sm')
    .booking-notification__description One of our expedition specialists will contact you shortly. For reference, please find the details of your booking request below. Please note that we have also sent the details of your booking request to <a href="mailto:">example@gmail.com</a>.
    .booking-review__title Arctic Islands & Fjords
    .booking-notification__rows
      .booking-notification__row.grid.grid-twelve
        .booking-notification__block
          .booking-review__number.booking-review__input
            input(type="text" name="uid" value="V0623030520")
            span V0623030520
          .booking-review__card
            .booking-review__column
              .booking-review__data.booking-review__input.booking-review__input-destination
                input(
                  type="text"
                  name="destanation"
                  value="Ushuaia - Cape Town"
                )
                svg(viewBox="0 0 24 24" width="24" height="24")
                  use(xlink:href="#svg-location")
                span Ushuaia - Cape Town
              .booking-review__data.booking-review__input.booking-review__input-calendar
                input(type="text" name="nights" value="20 Nights")
                svg(viewBox="0 0 24 25" width="24px" height="24px")
                  use(xlink:href="#svg-calendar")
                span 20 Nights
            .booking-review__column
              .booking-review__data.booking-review__input.booking-review__input-ship
                input(type="text" name="ship" value="SH Vega")
                svg(viewBox="0 0 24 25" width="24px" height="24px")
                  use(xlink:href="#svg-ship")
                span SH Vega
              .booking-review__date.booking-review__input
                input(type="text" name="date" value="05.03.23 - 25.03.23")
                span 05.03.23 - 25.03.23
        .booking-notification__block-right
          .booking-review__card.booking-review__card-top.booking-review__card-grid
            .booking-review__column
              .booking-review__subtitle your stateroom
              .booking-review__room.booking-review__text-medium.booking-review__input
                input(type="text" name="room" value="Oceanview D4")
                span Oceanview D4
          .booking-notification__block.booking-notification__block-items
            .booking-review__card-justify.booking-review__card
              .booking-review__column
                .booking-review__subtitle NO
                .booking-review__text.booking-review__text-medium.booking-review__input
                  input(type="text" name="NO" value="402")
                  span 402
              .booking-review__column
                .booking-review__subtitle Sleeps
                .booking-review__text.booking-review__text-medium.booking-review__input
                  input(type="text" name="Sleeps" value="2")
                  span 2
              .booking-review__column
                .booking-review__subtitle Area
                .booking-review__text.booking-review__text-medium.booking-review__input
                  input(type="text" name="Area" value="19 m2")
                  span 19 m2
              .booking-review__column
                .booking-review__subtitle DESK
                .booking-review__text.booking-review__text-medium.booking-review__input
                  input(type="text" name="DESK" value="4")
                  span 4
      .booking-notification__row.grid.grid-twelve
        .booking-notification__block
          .booking-review__card.booking-review__card-justify.booking-notification__block-mobile
            .booking-review__column
              .booking-review__subtitle Guest 1
              .booking-review__text.booking-review__text-medium.booking-review__input
                input(type="text" name="Guest 2" value="Name Name Name")
                span Name Name Name
          .booking-review__wrapper-small.booking-notification__block-mobile
            .booking-review__card
              .booking-review__column
                .booking-review__subtitle Guest 2
                .booking-review__text.booking-review__text-medium.booking-review__input
                  input(type="text" name="Guest 2" value="Name Name Name")
                  span Name Name Name
        .booking-notification__block-right
          .booking-review__column.booking-notification__block-mobile.booking-review__card-grid
            .booking-review__subtitle Contact e-mail
            .booking-review__text.booking-review__text-medium.booking-review__input
              input(
                type="text"
                name="Contact e-mail"
                value="example@gmail.com"
              )
              span example@gmail.com
          .booking-notification.booking-notification__block-items
            .booking-review__card-justify.booking-review__card
              .sidebar__description
                .sidebar__heading Price
                .sidebar__text.booking-review__input
                  input(type="text" name="Price" value="€ 23,078")
                  span € 23,078