.booking-details
  .booking-details__subtitle Guest 1
  h3.booking-details__title Contact details
  form.booking-details__form(action="#")
    .booking-details__inputs.booking-details__inputs-mt
      .booking-details__input
        input.success(
          type="text"
          placeholder="First Name (as it appears in passport) *"
          autocomplete="on"
          name="name"
        )
        svg.svg__check(viewBox="0 0 12 12" width="12px" height="12px")
          use(xlink:href="#svg-check-small-green")
      .booking-details__input
        input.error(
          type="text"
          placeholder="Last Name (as it appears in passport) *"
          autocomplete="on"
          class=""
          name="surname"
        )
        svg.svg__check(viewBox="0 0 12 12" width="12px" height="12px")
          use(xlink:href="#svg-check-small-green")
      .booking-details__input
        input(
          type="text"
          placeholder="Middle name"
          autocomplete="on"
          name="surname"
        )
        svg.svg__check(viewBox="0 0 12 12" width="12px" height="12px")
          use(xlink:href="#svg-check-small-green")
      .booking-details__input.booking-details__input-icon
        svg.booking-details__calendar(
          viewBox="0 0 24 24"
          width="24px"
          height="24px"
        )
          use(xlink:href="#svg-calendar")
        input#dateInput(
          type="text"
          placeholder="Date of Birth"
          autocomplete="on"
          maxlength="10"
          name="name"
        )
        svg.svg__check(viewBox="0 0 12 12" width="12px" height="12px")
          use(xlink:href="#svg-check-small-green")
    .booking-details__inputs.booking-details__inputs-small.booking-details__inputs-grid
      .booking-details__input.booking-details__input-mt.booking-details__input-email
        input(
          type="email"
          placeholder="E-mail *"
          autocomplete="on"
          name="email"
        )
      .booking-details__input.popup__input.popup__input-phone
        .popup__dropdown
          button.popup__dropdown__current(type="button" aria-label="country")
            svg.popup__dropdown__flag(
              viewBox="0 0 28 20"
              width="24px"
              height="24px"
            )
              use(xlink:href="#svg-flag-ru")
            svg.popup__arrow(viewBox="0 0 16 16" width="16px" height="16px")
              use(xlink:href="#svg-arrow-down-small")
          .popup__dropdown__container
            .popup__dropdown__search
              input.popup__dropdown__input(
                type="search"
                placeholder="Search..."
                name="search"
              )
              button.popup__dropdown__submit(type="submit")
                svg(viewBox="0 0 24 24" width="24px" height="24px")
                  use(xlink:href="#svg-search")
            .popup__dropdown__list(data-scroll-lock-scrollable).custom-scroll
              button.popup__dropdown__country(
                type="button"
                aria-label="country"
              )
                svg.popup__dropdown__flag(
                  viewBox="0 0 28 20"
                  width="24px"
                  height="24px"
                )
                  use(xlink:href="#svg-flag-ru")
                span Russian (+7)
                svg.popup__dropdown__check(
                  viewBox="0 0 12 12"
                  width="12px"
                  height="12px"
                )
                  use(xlink:href="#svg-check-small-green")
              button.popup__dropdown__country(
                type="button"
                aria-label="country"
              )
                svg.popup__dropdown__flag(
                  viewBox="0 0 28 20"
                  width="24px"
                  height="24px"
                )
                  use(xlink:href="#svg-flag-ge")
                span Russian (+7)
                svg.popup__dropdown__check(
                  viewBox="0 0 12 12"
                  width="12px"
                  height="12px"
                )
                  use(xlink:href="#svg-check-small-green")
              button.popup__dropdown__country(
                type="button"
                aria-label="country"
              )
                svg.popup__dropdown__flag(
                  viewBox="0 0 28 20"
                  width="24px"
                  height="24px"
                )
                  use(xlink:href="#svg-flag-ru")
                span Russian (+7)
                svg.popup__dropdown__check(
                  viewBox="0 0 12 12"
                  width="12px"
                  height="12px"
                )
                  use(xlink:href="#svg-check-small-green")
              button.popup__dropdown__country(
                type="button"
                aria-label="country"
              )
                svg.popup__dropdown__flag(
                  viewBox="0 0 28 20"
                  width="24px"
                  height="24px"
                )
                  use(xlink:href="#svg-flag-ge")
                span Russian (+7)
                svg.popup__dropdown__check(
                  viewBox="0 0 12 12"
                  width="12px"
                  height="12px"
                )
                  use(xlink:href="#svg-check-small-green")
              button.popup__dropdown__country(
                type="button"
                aria-label="country"
              )
                svg.popup__dropdown__flag(
                  viewBox="0 0 28 20"
                  width="24px"
                  height="24px"
                )
                  use(xlink:href="#svg-flag-ru")
                span Russian (+7)
                svg.popup__dropdown__check(
                  viewBox="0 0 12 12"
                  width="12px"
                  height="12px"
                )
                  use(xlink:href="#svg-check-small-green")
        input(type="tel" placeholder="+7 *" autocomplete="on" name="phone")
      .booking-details__note Booking enquiry details will be sent to this e-mail address
      .booking-details__note We will shortly contact you via this phone number
    h3.booking-details__title.booking-details__title-mt Postal address
    .booking-details__inputs.booking-details__inputs-one.booking-details__inputs-mt
      .booking-details__input
        input(
          type="text"
          placeholder="Street Address 1"
          autocomplete="on"
          name="Street Address 1"
        )
        svg.svg__check(viewBox="0 0 12 12" width="12px" height="12px")
          use(xlink:href="#svg-check-small-green")
      .booking-details__input
        input(
          type="text"
          placeholder="Street Address 2"
          autocomplete="on"
          name="Street Address 2"
        )
        svg.svg__check(viewBox="0 0 12 12" width="12px" height="12px")
          use(xlink:href="#svg-check-small-green")
      .booking-details__inputs.booking-details__inputs-third
        .booking-details__input.booking-details__input-small
          input(
            type="text"
            placeholder="ZIP/Postal code"
            autocomplete="on"
            name="ZIP/Postal code"
          )
          svg.svg__check(viewBox="0 0 12 12" width="12px" height="12px")
            use(xlink:href="#svg-check-small-green")
        .booking-details__input.booking-details__input-big
          input(type="text" placeholder="City" autocomplete="on" name="City")
          svg.svg__check(viewBox="0 0 12 12" width="12px" height="12px")
            use(xlink:href="#svg-check-small-green")
    .booking-details__inputs.booking-details__inputs-basic
      .booking-details__input
        input(
          type="text"
          placeholder="Region/State"
          autocomplete="on"
          name="Region/State"
        )
        svg.svg__check(viewBox="0 0 12 12" width="12px" height="12px")
          use(xlink:href="#svg-check-small-green")
      .booking-details__input.booking-details__input.booking-details__input-country
        .booking-details__dropdown
          button.booking-details__dropdown__current(
            type="button"
            aria-label="country"
          )
            svg.booking-details__arrow(
              viewBox="0 0 16 16"
              width="16px"
              height="16px"
            )
              use(xlink:href="#svg-arrow-down-small")
          .booking-details__dropdown__list
            .booking-details__dropdown__scroll.custom-scroll(
              data-scroll-lock-scrollable
            )
              button.booking-details__dropdown__country(
                type="button"
                aria-label="country"
              )
                span Russia
              button.booking-details__dropdown__country(
                type="button"
                aria-label="country"
              )
                span Georgia
              button.booking-details__dropdown__country(
                type="button"
                aria-label="country"
              )
                span Russia
              button.booking-details__dropdown__country(
                type="button"
                aria-label="country"
              )
                span Russia
              button.booking-details__dropdown__country(
                type="button"
                aria-label="country"
              )
                span Georgia
              button.booking-details__dropdown__country(
                type="button"
                aria-label="country"
              )
                span Russia
        input(
          type="text"
          placeholder="Country"
          autocomplete="on"
          name="country"
        )
    label.booking-details__label
      input(type="checkbox" name="policy-1" value="approved")
      .booking-details__approved
        span I have read and approved <a href="#" target="_blank"> Privacy policy* </a> and <a href="#" target="_blank"> Terms & Conditions* </a>
    .booking-details__subtitle.booking-details__subtitle-mt Guest 2
    h3.booking-details__title Contact details
    .booking-details__inputs.booking-details__inputs-mt
      .booking-details__input
        input(
          type="text"
          placeholder="First Name (as it appears in passport) *"
          autocomplete="on"
          name="name"
        )
        svg.svg__check(viewBox="0 0 12 12" width="12px" height="12px")
          use(xlink:href="#svg-check-small-green")
      .booking-details__input
        input(
          type="text"
          placeholder="Last Name (as it appears in passport) *"
          autocomplete="on"
          name="surname"
        )
        svg.svg__check(viewBox="0 0 12 12" width="12px" height="12px")
          use(xlink:href="#svg-check-small-green")
      .booking-details__input
        input(
          type="text"
          placeholder="Middle name"
          autocomplete="on"
          name="surname"
        )
        svg.svg__check(viewBox="0 0 12 12" width="12px" height="12px")
          use(xlink:href="#svg-check-small-green")
    label.booking-details__label
      input(type="checkbox" name="policy-2" value="approved")
      .booking-details__approved
        span I have read and approved <a href="#" target="_blank"> Privacy policy* </a> and <a href="#" target="_blank"> Terms & Conditions* </a>