.faq
  .faq__wrapper
    .faq__sidebar
      .faq__sticky
        a(href="#planning").faq__link.active
          svg.faq__link__icon(
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
          )
            use(xlink:href="#svg-selected")
          span Planning
        a(href="#antarctica-cruises").faq__link
          svg.faq__link__icon(
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
          )
            use(xlink:href="#svg-selected")
          span Antarctica cruises
        a(href="#arctic-cruises").faq__link
          svg.faq__link__icon(
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
          )
            use(xlink:href="#svg-selected")
          span Arctic cruises
        a(href="#before-you-go").faq__link
          svg.faq__link__icon(
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
          )
            use(xlink:href="#svg-selected")
          span Before you go
        a(href="#life-onboard").faq__link
          svg.faq__link__icon(
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
          )
            use(xlink:href="#svg-selected")
          span Life Onboard
    .faq__content
      .faq__block#planning
        h2.faq__title Planning
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      .faq__block#antarctica-cruises
        h2.faq__title Antarctica cruises
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      .faq__block#arctic-cruises
        h2.faq__title Arctic cruises
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      .faq__block#before-you-go
        h2.faq__title Before you go
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      .faq__block#life-onboard
        h2.faq__title Life Onboard
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .faq__item
          .faq__header
            .faq__name Nemo enim ipsam voluptatem quia voluptas sit aspernatur?
            button.faq__button(type="submit" aria-label="arrow")
              svg.faq__arrow(
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              )
                use(xlink:href="#svg-arrow-down")
          .faq__body
            p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.