header.header
  .wrapper
    .header__top
      .header__contact
        a.header__phone(href="tel:+7 (800) 555-35-35")
          svg(viewBox="0 0 25 25" width="24px" height="24px")
            use(xlink:href="#svg-phone")
          span +7 (800) 555-35-35
      a.header__logo(href="/")
        svg.header__logo-pc(viewBox="0 0 166 40" width="166px" height="40px")
          use(xlink:href="#svg-logo")
        svg.header__logo-mob(viewBox="0 0 65 44" width="65px" height="40px")
          use(xlink:href="#svg-logo-mobile")
      button.header__burger(type="button" aria-label="burger")
        svg.header__burger__svg(
          fill="none"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
        )
          rect(fill="white" rx="1" x="2" y="8" width="20" height="2")
          rect(fill="white" rx="1" x="2" y="14" width="20" height="2")
      include ./mob-menu
      .header__submenu
        button.header__search(type="button" aria-label="search")
          svg(viewBox="0 0 24 24" width="24px" height="24px")
            use(xlink:href="#svg-search")
        form.search__form(action="#")
          input(type="text" placeholder="Search..." name="search")
          button.search__button(type="submit" aria-label="search")
            svg.search__button__icon(
              viewBox="0 0 24 24"
              width="24px"
              height="24px"
            )
              use(xlink:href="#svg-search")
          ul.search__results(data-scroll-lock-scrollable)
            li.search__result In the Wake of the HMS Beagle through the Chilean Fjords
            li.search__result Natural Wonders of the Atacama and Paracas Desert
            li.search__result Crucibles of West Africa
            li.search__result Pristine Islands of West Africa
            li.search__result Sailing with the Vikings
        button.header__item.header__item-contact.popup-trigger(
          type="button"
          data-popup-button="waitlist"
        )
          span.header__item__text Contact us
        .header__lang
          button.header__toggle(type="button")
            svg(viewBox="0 0 18 18" width="18px" height="18px")
              use(xlink:href="#svg-en-uk")
            span EN
            svg.header__lang__arrow(
              viewBox="0 0 16 17"
              width="16px"
              height="17px"
            )
              use(xlink:href="#svg-arrow-down-small")
          .header__languages
            .header__languages__item.select-language(data-id="ru")
              a.header__language(href="#")
                span Russian (RU)
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
            .header__languages__item.select-language(data-id="uk")
              a.header__language(href="#")
                span English (UK)
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
            .header__languages__item.select-language(data-id="us")
              a.header__language(href="#")
                span English (US)
                svg(viewBox="0 0 12 12" width="12px" height="12px")
                  use(xlink:href="#svg-check-small-green")
    .header__bottom
      .header__logo
        a.header__logo__inner(href="/")
          svg(viewBox="0 0 166 40" width="166px" height="40px")
            use(xlink:href="#svg-logo")
      nav.header__menu
        .header__item
          a.header__link(href="/cruises")
            .header__link__inner
              .header__icon
                svg(viewBox="0 0 24 25" width="24px" height="25px")
                  use(xlink:href="#svg-ship")
              span.header__item__text Find your cruise
              .header__arrow
                svg(viewBox="0 0 16 17" width="16px" height="17px")
                  use(xlink:href="#svg-arrow-down-small")
          .header-dropdown.header-dropdown-find-your-cruise
            .wrapper
              .header-dropdown__wrapper
                .header-dropdown__grid
                  .header-dropdown__nav
                    .header-dropdown__nav__col.header-dropdown__nav__step1
                      a.header-dropdown__nav__link.active(href="#" data-id="1")
                        span Destinations
                        svg.header-dropdown__nav__arrow(
                          viewBox="0 0 24 24"
                          width="24px"
                          height="24px"
                        )
                          use(xlink:href="#svg-arrow-right")
                      a.header-dropdown__nav__link(href="#" data-id="2")
                        span Ships
                        svg.header-dropdown__nav__arrow(
                          viewBox="0 0 24 24"
                          width="24px"
                          height="24px"
                        )
                          use(xlink:href="#svg-arrow-right")
                      a.header-dropdown__nav__link(href="#" data-id="3")
                        span Departures
                        svg.header-dropdown__nav__arrow(
                          viewBox="0 0 24 24"
                          width="24px"
                          height="24px"
                        )
                          use(xlink:href="#svg-arrow-right")
                    .header-dropdown__nav__col.header-dropdown__nav__step2
                      .header-dropdown__nav__list.active(data-id="1")
                        a.header-dropdown__nav__link.active(
                          href="#"
                          data-id="1"
                        )
                          span Africa
                        a.header-dropdown__nav__link(href="#" data-id="2")
                          span Antarctica
                        a.header-dropdown__nav__link(href="#" data-id="3")
                          span Artic
                        a.header-dropdown__nav__link(href="#" data-id="4")
                          span Australia & NZ
                        a.header-dropdown__nav__link(href="#" data-id="5")
                          span Europe
                        a.header-dropdown__nav__link(href="#" data-id="6")
                          span Japan
                        a.header-dropdown__nav__link(href="#" data-id="7")
                          span Mediterranean
                        a.header-dropdown__nav__link(href="#" data-id="8")
                          span Ocean Voyages
                        a.header-dropdown__nav__link(href="#" data-id="9")
                          span Pacific Islands
                        a.header-dropdown__nav__link(href="#" data-id="10")
                          span South America
                      .header-dropdown__nav__list(data-id="2")
                        a.header-dropdown__nav__link(href="#" data-id="2-1")
                          span SH Minerva
                        a.header-dropdown__nav__link(href="#" data-id="2-2")
                          span SH Vega
                        a.header-dropdown__nav__link(href="#" data-id="2-3")
                          span SH Diana
                  .header-dropdown__nav__list.header-dropdown__nav__years(
                    data-id="3"
                  )
                    .header-dropdown__nav__period
                      a.header-dropdown__nav__period__title(href="#") 2023
                      .header-dropdown__nav__period__years
                        a.header-dropdown__nav__period__year(href="#") January
                        a.header-dropdown__nav__period__year(href="#") February
                        a.header-dropdown__nav__period__year(href="#") March
                        a.header-dropdown__nav__period__year(href="#") April
                        a.header-dropdown__nav__period__year(href="#") May
                        a.header-dropdown__nav__period__year(href="#") June
                        a.header-dropdown__nav__period__year(href="#") July
                        a.header-dropdown__nav__period__year(href="#") August
                        a.header-dropdown__nav__period__year(href="#") September
                        a.header-dropdown__nav__period__year(href="#") October
                        a.header-dropdown__nav__period__year(href="#") November
                        a.header-dropdown__nav__period__year(href="#") December
                    .header-dropdown__nav__perion
                      a.header-dropdown__nav__period__title(href="#") 2024
                      .header-dropdown__nav__period__years
                        a.header-dropdown__nav__period__year(href="#") January
                        a.header-dropdown__nav__period__year(href="#") February
                        a.header-dropdown__nav__period__year(href="#") March
                        a.header-dropdown__nav__period__year(href="#") April
                        a.header-dropdown__nav__period__year(href="#") May
                        a.header-dropdown__nav__period__year(href="#") June
                        a.header-dropdown__nav__period__year(href="#") July
                        a.header-dropdown__nav__period__year(href="#") August
                        a.header-dropdown__nav__period__year(href="#") September
                        a.header-dropdown__nav__period__year(href="#") October
                        a.header-dropdown__nav__period__year(href="#") November
                        a.header-dropdown__nav__period__year(href="#") December
                  .header-dropdown__results
                    .header-dropdown__result.active(data-id="1")
                      include ./header-result
                    .header-dropdown__result(data-id="2")
                      include ./header-result
                    .header-dropdown__result(data-id="3")
                      include ./header-result
                    .header-dropdown__result(data-id="4")
                      include ./header-result
                    .header-dropdown__result(data-id="5")
                      include ./header-result
                    .header-dropdown__result(data-id="6")
                      include ./header-result
                    .header-dropdown__result(data-id="7")
                      include ./header-result
                    .header-dropdown__result(data-id="8")
                      include ./header-result
                    .header-dropdown__result(data-id="9")
                      include ./header-result
                    .header-dropdown__result(data-id="10")
                      include ./header-result
                    .header-dropdown__result(data-id="2-1")
                      include ./header-result
                    .header-dropdown__result(data-id="2-2")
                      include ./header-result
                    .header-dropdown__result(data-id="2-3")
                      include ./header-result
        .header__item
          a.header__link(href="#")
            .header__link__inner
              span.header__item__text Destinations
              .header__arrow
                svg(viewBox="0 0 16 17" width="16px" height="17px")
                  use(xlink:href="#svg-arrow-down-small")
          .header-dropdown.header-dropdown-destinations
            .wrapper
              .header-dropdown__wrapper
                .header-dropdown__grid
                  .header-dropdown__cards
                    a.header-dropdown__card(href="#")
                      .header-dropdown__card__image
                        img(
                          src="/assets/images/header-dropdown2-card1.png"
                          alt="header-dropdown2-card1"
                        )
                      .header-dropdown__card__title Artic
                    a.header-dropdown__card(href="#")
                      .header-dropdown__card__image
                        img(
                          src="/assets/images/header-dropdown2-card2.png"
                          alt="header-dropdown2-card2"
                        )
                      .header-dropdown__card__title Japan
                    a.header-dropdown__card(href="#")
                      .header-dropdown__card__image
                        img(
                          src="/assets/images/header-dropdown2-card3.png"
                          alt="header-dropdown2-card3"
                        )
                      .header-dropdown__card__title Australia & NZ
                    a.header-dropdown__card(href="#")
                      .header-dropdown__card__image
                        img(
                          src="/assets/images/header-dropdown2-card4.png"
                          alt="header-dropdown2-card4"
                        )
                      .header-dropdown__card__title Anntarctic
                    a.header-dropdown__card(href="#")
                      .header-dropdown__card__image
                        img(
                          src="/assets/images/header-dropdown2-card5.png"
                          alt="header-dropdown2-card5"
                        )
                      .header-dropdown__card__title Anntarctic
                    a.header-dropdown__card(href="#")
                      .header-dropdown__card__image
                        img(
                          src="/assets/images/header-dropdown2-card6.png"
                          alt="header-dropdown2-card6"
                        )
                      .header-dropdown__card__title South America
                  .header-dropdown__links
                    .header-dropdown__links__title More destinations
                    a.header-dropdown__link(href="#") Africa
                    a.header-dropdown__link(href="#") Grand Voyages
                    a.header-dropdown__link(href="#") Pacific Islands
                    a.header-dropdown__link(href="#") Medeterranean
        .header__item
          a.header__link(href="#")
            .header__link__inner
              span.header__item__text Ships
              .header__arrow
                svg(viewBox="0 0 16 17" width="16px" height="17px")
                  use(xlink:href="#svg-arrow-down-small")
          .header-dropdown.header-dropdown-ships
            .wrapper
              .header-dropdown__wrapper
                .header-dropdown__grid
                  .header-dropdown__cards
                    a.header-dropdown__card(href="#")
                      .header-dropdown__card__image
                        img(
                          src="/assets/images/header-dropdown3-card1.png"
                          alt="header-dropdown3-card1"
                        )
                      .header-dropdown__card__title Diana
                      p Our 5 star elegant Scandi-design boutique ship offers you an intimate setting from which you will be fully immersed in all the sights and scenery of your voyage.
                    a.header-dropdown__card(href="#")
                      .header-dropdown__card__image
                        img(
                          src="/assets/images/header-dropdown3-card2.png"
                          alt="header-dropdown3-card2"
                        )
                      .header-dropdown__card__title Minerva
                      p Our 5 star elegant Scandi-design boutique ship offers you an intimate setting from which you will be fully immersed in all the sights and scenery of your voyage.
                    a.header-dropdown__card(href="#")
                      .header-dropdown__card__image
                        img(
                          src="/assets/images/header-dropdown3-card3.png"
                          alt="header-dropdown3-card3"
                        )
                      .header-dropdown__card__title Vega
                      p Our 5 star elegant Scandi-design boutique ship offers you an intimate setting from which you will be fully immersed in all the sights and scenery of your voyage.
        .header__item
          a.header__link(href="#")
            .header__link__inner
              span.header__item__text Why swan
              .header__arrow
                svg(viewBox="0 0 16 17" width="16px" height="17px")
                  use(xlink:href="#svg-arrow-down-small")
          .header-dropdown.header-dropdown-why-swan
            .wrapper
              .header-dropdown__wrapper
                .header-dropdown__grid
                  .header-dropdown__cards
                    a.header-dropdown__card(href="#")
                      .header-dropdown__card__image
                        img(
                          src="/assets/images/header-dropdown4-card1.png"
                          alt="header-dropdown4-card1"
                        )
                      .header-dropdown__card__title Our difference
                    a.header-dropdown__card(href="#")
                      .header-dropdown__card__image
                        img(
                          src="/assets/images/header-dropdown4-card2.png"
                          alt="header-dropdown4-card2"
                        )
                      .header-dropdown__card__title Experience onboard
                  .header-dropdown__links
                    .header-dropdown__links__title Cultural Expeditions
                    a.header-dropdown__link(href="#") Our expedition team
                      p The Old World Through a New Lens: Photographing Europe with David Cothran.
                    a.header-dropdown__link(href="#") Our guest lecturers
                      p The Old World Through a New Lens: Photographing Europe with David Cothran.
                  .header-dropdown__links
                    .header-dropdown__links__title What to expect
                    a.header-dropdown__link(href="#") Culture
                    a.header-dropdown__link(href="#") History
                    a.header-dropdown__link(href="#") Nature
                    a.header-dropdown__link(href="#") Weather
                    a.header-dropdown__link(href="#") Wildlife
        .header__item
          a.header__link(href="#")
            .header__link__inner
              span.header__item__text Plan your trip
              .header__arrow
                svg(viewBox="0 0 16 17" width="16px" height="17px")
                  use(xlink:href="#svg-arrow-down-small")
          .header-dropdown.header-dropdown-plan-your-trip
            .wrapper
              .header-dropdown__wrapper
                .header-dropdown__grid
                  .header-dropdown__cards
                    a.header-dropdown__card(href="#")
                      .header-dropdown__card__image
                        img(
                          src="/assets/images/header-dropdown5-card1.png"
                          alt="header-dropdown5-card1"
                        )
                      .header-dropdown__card__title Our Story
                    a.header-dropdown__card(href="#")
                      .header-dropdown__card__image
                        img(
                          src="/assets/images/header-dropdown5-card2.png"
                          alt="header-dropdown5-card2"
                        )
                      .header-dropdown__card__title Our team
                    a.header-dropdown__card(href="#")
                      .header-dropdown__card__image
                        img(
                          src="/assets/images/header-dropdown5-card3.png"
                          alt="header-dropdown5-card3"
                        )
                      .header-dropdown__card__title Sustainabillity
                  .header-dropdown__links
                    .header-dropdown__links__title See more
                    a.header-dropdown__link(href="#") F.A.Q
                    a.header-dropdown__link(href="#") Find a Travel Agency
                    a.header-dropdown__link(href="#") Brochures
                    a.header-dropdown__link(href="#") Promotions
                    a.header-dropdown__link(href="#") Mobile App
                    a.header-dropdown__link(href="#") Terms & conditions
                  .header-dropdown__links
                    .header-dropdown__links__title Download mobile app
                    .header-dropdown__downloads
                      a.header-dropdown__link.header-dropdown__link-download(
                        href="#"
                        target="_blank"
                      )
                        svg(viewBox="0 0 37 35" width="37px" height="35px")
                          use(xlink:href="#svg-android")
                        span download for
                        p Android
                      a.header-dropdown__link.header-dropdown__link-download(
                        href="#"
                        target="_blank"
                      )
                        svg(viewBox="0 0 35 35" width="35px" height="35px")
                          use(xlink:href="#svg-app-store")
                        span download for
                        p iOS
        .header__item
          a.header__link(href="#")
            .header__link__inner
              span.header__item__text Partnerships
              .header__arrow
                svg(viewBox="0 0 16 17" width="16px" height="17px")
                  use(xlink:href="#svg-arrow-down-small")
          .header-dropdown.header-dropdown-partnerships
            .wrapper
              .header-dropdown__wrapper
                .header-dropdown__grid
                  .header-dropdown__cards
                    a.header-dropdown__card(href="#")
                      .header-dropdown__card__image
                        img(
                          src="/assets/images/header-dropdown4-card1.png"
                          alt="header-dropdown4-card1"
                        )
                      .header-dropdown__card__title Our difference
                    a.header-dropdown__card(href="#")
                      .header-dropdown__card__image
                        img(
                          src="/assets/images/header-dropdown4-card2.png"
                          alt="header-dropdown4-card2"
                        )
                      .header-dropdown__card__title Experience onboard
                  .header-dropdown__links
                    .header-dropdown__links__title See more
                    a.header-dropdown__link(href="#") Partner 3
                    a.header-dropdown__link(href="#") Partner 4
                    a.header-dropdown__link(href="#") Partner 5
                    a.header-dropdown__link(href="#") Partner 6
                    a.header-dropdown__link.header-dropdown__link-more(
                      href="#"
                    ) View all
        .header__item
          a.header__link(href="#")
            .header__link__inner
              span.header__item__text About us
              .header__arrow
                svg(viewBox="0 0 16 17" width="16px" height="17px")
                  use(xlink:href="#svg-arrow-down-small")
          .header-dropdown.header-dropdown-about-us
            .wrapper
              .header-dropdown__wrapper
                .header-dropdown__grid
                  .header-dropdown__cards
                    a.header-dropdown__card(href="#")
                      .header-dropdown__card__image
                        img(
                          src="/assets/images/header-dropdown7-card1.png"
                          alt="header-dropdown7-card1"
                        )
                      .header-dropdown__card__title Our Story
                    a.header-dropdown__card(href="#")
                      .header-dropdown__card__image
                        img(
                          src="/assets/images/header-dropdown7-card2.png"
                          alt="header-dropdown7-card2"
                        )
                      .header-dropdown__card__title Our team
                    a.header-dropdown__card(href="#")
                      .header-dropdown__card__image
                        img(
                          src="/assets/images/header-dropdown7-card3.png"
                          alt="header-dropdown7-card3"
                        )
                      .header-dropdown__card__title Sustainabillity
                  .header-dropdown__links
                    .header-dropdown__links__title More about us
                    a.header-dropdown__link(href="#") Our awards
                    a.header-dropdown__link(href="#") Blog
                    a.header-dropdown__link(href="#") Press center
                    a.header-dropdown__link(href="#") Careers
                  .header-dropdown__links
                    .header-dropdown__links__title Contact us
                    a.header-dropdown__link(href="tel:+44 (0) 207 846 0271") +44 (0) 207 846 0271
                    a.header-dropdown__link(
                      href="mailto:enquiries@swanhellenic.com"
                    ) enquiries@swanhellenic.com
                    a.header-dropdown__link.header-dropdown__link-more(
                      href="#"
                    ) View all Contacts