include ../mixins/button
.hero-filter
  .wrapper
    form.hero-filter__wrapper(action="#")
      .hero-filter__label.hero-filter__label-destination.active(
        data-filter-step="destination"
      )
        .hero-filter__container(data-filter="destination")
          .hero-filter__input
            input(type="text" name="destination")
            svg.hero-filter__icon(
              viewBox="0 0 25 25"
              width="24px"
              height="24px"
            )
              use(xlink:href="#svg-map")
            span Select destination
          svg.hero-filter__arrow(
            viewBox="0 0 16 16"
            width="16px"
            height="16px"
          )
            use(xlink:href="#svg-arrow-down-small")
        .hero-filter__list(data-filter="destination")
          .hero-filter__item Africa
          .hero-filter__item Antarctica
          .hero-filter__item Artic
          .hero-filter__item Australia & NZ
          .hero-filter__item Europe
          .hero-filter__item Japan
          .hero-filter__item Mediterranean
          .hero-filter__item Ocean Voyages
          .hero-filter__item Pacific Islands
          .hero-filter__item South America
        +button('button-brown button-no-center hero-filter__next', 'button', '', '#svg-arrow-right', 'calendar')
      .hero-filter__label.hero-filter__label-calendar(
        data-filter-step="calendar"
      )
        +button('button-brown button-no-center hero-filter__prev', 'button', '', '#svg-arrow-left', 'destination')
        .hero-filter__container
          .hero-filter__input
            svg.hero-filter__icon(
              viewBox="0 0 25 25"
              width="24px"
              height="24px"
            )
              use(xlink:href="#svg-calendar")
            input#datepicker(
              type="datepicker"
              placeholder="Select month & year"
              name="ship"
            )
          svg.hero-filter__arrow(
            viewBox="0 0 16 16"
            width="16px"
            height="16px"
          )
            use(xlink:href="#svg-arrow-down-small")
        +button('button-brown button-no-center hero-filter__next', 'button', '', '#svg-arrow-right', 'ship')
      .hero-filter__label.hero-filter__label-ship(data-filter-step="ship")
        +button('button-brown button-no-center hero-filter__prev', 'button', '', '#svg-arrow-left', 'calendar')
        .hero-filter__container(data-filter="ship")
          .hero-filter__input
            input(type="text" name="ship")
            svg.hero-filter__icon(
              viewBox="0 0 25 25"
              width="24px"
              height="24px"
            )
              use(xlink:href="#svg-ship")
            span Select ship
          svg.hero-filter__arrow(
            viewBox="0 0 16 16"
            width="16px"
            height="16px"
          )
            use(xlink:href="#svg-arrow-down-small")
        .hero-filter__list(data-filter="ship")
          .hero-filter__item SH Minerva
          .hero-filter__item SH Vega
          .hero-filter__item SH Diana
        +button('button-brown button-no-center hero-filter__search', 'submit', '', '#svg-search', 'success')
      +button('button-brown button-no-center hero-filter__submit', 'submit', 'search cruises', '#svg-arrow-right', '')