include ../mixins/button
.hero-filter
  .wrapper
    .hero-filter__wrapper
      label.hero-filter__label.hero-filter__label-destination
        .hero-filter__container
          .hero-filter__input
            svg.hero-filter__icon(
              viewBox="0 0 25 25"
              width="24px"
              height="24px"
            )
              use(xlink:href="#svg-map")
            span Select destination
          svg.hero-filter__arrow(
            viewBox="0 0 16 16"
            width="16px"
            height="16px"
          )
            use(xlink:href="#svg-arrow-down-small")
      label.hero-filter__label.hero-filter__label-calendar
        .hero-filter__container
          .hero-filter__input
            svg.hero-filter__icon(
              viewBox="0 0 25 25"
              width="24px"
              height="24px"
            )
              use(xlink:href="#svg-calendar")
            span Select month & year
          svg.hero-filter__arrow(
            viewBox="0 0 16 16"
            width="16px"
            height="16px"
          )
            use(xlink:href="#svg-arrow-down-small")
      label.hero-filter__label.hero-filter__label-ship
        .hero-filter__container
          .hero-filter__input
            svg.hero-filter__icon(
              viewBox="0 0 25 25"
              width="24px"
              height="24px"
            )
              use(xlink:href="#svg-ship")
            span Select ship
          svg.hero-filter__arrow(
            viewBox="0 0 16 16"
            width="16px"
            height="16px"
          )
            use(xlink:href="#svg-arrow-down-small")
      +button('button-brown button-no-center hero-filter__button', 'submit', 'search cruises')