svg(style="display: none")
  symbol#svg-logo
    g(clip-path="url(#clip0_1243_13287)")
      path(
        d="M23.7514 28.7375H23.7317L16.3672 16.0195L23.7514 28.7375Z"
        fill="white"
      )
      path(
        d="M36.453 40.2947H22.1914C20.9638 40.2943 19.7573 39.9744 18.6901 39.3665C17.623 38.7586 16.7317 37.8835 16.1037 36.8268L6.71875 20.654C6.71875 20.654 12.4116 20.1068 16.2682 26.779L20.1578 33.4643C21.0199 34.9478 21.6056 35.3763 23.3826 35.3763H27.6012L13.4646 11.048C13.4646 11.048 19.1574 10.5008 23.014 17.1729L36.453 40.2947Z"
        fill="white"
      )
      path(
        d="M11.8463 40.2963H5.82445L0 30.2617C0 30.2617 5.78496 29.8924 9.54288 36.3932L11.8463 40.2963Z"
        fill="white"
      )
      path(
        d="M55.3675 40.2957H46.8645C45.6417 40.2887 44.4414 39.9659 43.3796 39.3584C42.3177 38.7509 41.4303 37.8792 40.8031 36.8277L20.2168 1.37031C20.2168 1.37031 25.9096 0.823092 29.7663 7.50185L44.8308 33.4653C45.693 34.9487 46.2787 35.3772 48.0557 35.3772H52.2743L39.5921 13.4949C36.8148 8.68859 39.9936 3.13725 43.4356 1.4824C47.0158 -0.244981 52.814 -0.159272 55.9401 5.58986C57.4143 8.3062 56.0783 11.9851 56.0783 11.9851L57.2563 15.3673C57.2563 15.3673 57.592 16.4882 56.9404 16.686C56.2889 16.8837 55.8216 16.0728 55.8216 16.0728L50.8396 7.37658C50.3119 6.55461 49.4915 5.96485 48.5453 5.72726C47.599 5.48966 46.5979 5.62206 45.7456 6.09753C44.2319 6.981 43.0012 8.98528 44.2649 11.1874L57.8223 34.619C59.5861 37.5991 59.0333 40.2957 55.3675 40.2957Z"
        fill="white"
      )
      path(
        d="M67.1289 20.0951L69.1033 18.3018C69.5173 18.8324 70.0497 19.2585 70.6577 19.5459C71.2657 19.8332 71.9325 19.9739 72.6045 19.9567C73.9208 19.9567 75.0791 19.5084 75.0791 18.4996C75.0791 15.6778 67.6883 16.97 67.6883 12.1703C67.6883 9.48034 70.051 8.21448 72.7757 8.21448C73.7345 8.19281 74.6854 8.39336 75.5542 8.8005C76.423 9.20763 77.1861 9.81034 77.784 10.5616L75.8952 12.3681C75.5193 11.8866 75.0403 11.4956 74.4936 11.224C73.9469 10.9525 73.3463 10.8072 72.7362 10.799C71.4923 10.799 70.4788 11.2275 70.4788 12.1505C70.4788 14.4119 77.8696 13.4691 77.8696 18.2821C77.8696 21.2555 75.316 22.5478 72.6506 22.5478C70.1366 22.5478 68.3794 21.7896 67.1552 20.0688"
        fill="white"
      )
      path(
        d="M79.4375 8.41211H82.3399L85.3278 19.1258L88.4605 8.41211H91.5339L94.6469 19.1258L97.6545 8.41211H100.491L96.3251 22.3762H92.9489L89.9676 12.4141L86.9797 22.3762H83.6035L79.4375 8.41211Z"
        fill="white"
      )
      path(
        d="M110.5 19.8576H104.761L103.925 22.3762H100.938L105.834 8.41211H109.25L114.172 22.3762H111.382L110.5 19.8576ZM105.643 17.2798H109.592L107.618 11.5768L105.643 17.2798Z"
        fill="white"
      )
      path(
        d="M116.832 8.41211H119.412L126.5 17.7281V8.41211H129.271V22.3762H126.691L119.609 13.0404V22.3762H116.832V8.41211Z"
        fill="white"
      )
      path(
        d="M68.2676 26.3457H71.058V31.9168H76.4745V26.3457H79.2649V40.3098H76.4745V34.5409H71.058V40.3098H68.2676V26.3457Z"
        fill="white"
      )
      path(
        d="M83.3242 26.3457H91.8733V28.9697H86.0752V31.963H91.3336V34.5409H86.0752V37.666H91.9589V40.3098H83.3242V26.3457Z"
        fill="white"
      )
      path(
        d="M95.3945 26.3457H98.4482V37.6198H104.049V40.3098H95.3945V26.3457Z"
        fill="white"
      )
      path(
        d="M106.848 26.3457H109.895V37.6198H115.502V40.3098H106.848V26.3457Z"
        fill="white"
      )
      path(
        d="M118.293 26.3457H126.842V28.9697H121.044V31.963H126.309V34.5409H121.044V37.666H126.928V40.3098H118.293V26.3457Z"
        fill="white"
      )
      path(
        d="M130.363 26.3457H132.943L140.031 35.6617V26.3457H142.802V40.3098H140.222L133.134 30.974V40.3098H130.363V26.3457Z"
        fill="white"
      )
      path(d="M149.654 26.3457H146.863V40.3098H149.654V26.3457Z" fill="white")
      path(
        d="M160.09 26.1267C161.259 26.1058 162.415 26.3805 163.45 26.9256C164.485 27.4707 165.367 28.2685 166.013 29.2452L163.65 30.7088C163.281 30.0995 162.759 29.5968 162.137 29.2501C161.516 28.9033 160.814 28.7244 160.103 28.7309C158.895 28.7309 157.737 29.2116 156.882 30.0672C156.028 30.9228 155.549 32.0833 155.549 33.2933C155.549 34.5033 156.028 35.6638 156.882 36.5194C157.737 37.375 158.895 37.8557 160.103 37.8557C160.814 37.8622 161.516 37.6833 162.137 37.3366C162.759 36.9898 163.281 36.4871 163.65 35.8778L166.013 37.3414C165.142 38.6042 163.891 39.5557 162.443 40.0575C160.995 40.5592 159.425 40.5851 157.961 40.1314C156.497 39.6777 155.216 38.768 154.304 37.5346C153.392 36.3012 152.897 34.8085 152.89 33.2735C152.862 32.3166 153.031 31.3643 153.386 30.4754C153.74 29.5866 154.274 28.7803 154.953 28.1064C155.631 27.4326 156.441 26.9057 157.332 26.5583C158.222 26.211 159.174 26.0506 160.129 26.0871"
        fill="white"
      )
    defs
      clipPath#clip0_1243_13287
        rect(fill="white" transform="translate(0 0.5)" width="166" height="40")
  symbol#svg-phone
    path(
      d="M18.7881 15.2644C17.4497 13.9433 15.9296 15.6939 14.9258 16.6847C11.8965 17.2827 6.44379 11.9006 7.6555 9.50853C8.65932 8.51771 10.4328 7.01729 9.09441 5.6962C7.75599 4.37511 5.85724 4.10737 4.85342 5.09819C4.02037 5.92046 3.41451 7.71449 4.92915 11.6016C6.44379 15.4887 8.86722 17.8807 13.0072 19.5751C17.1473 21.2694 18.5609 20.2728 19.394 19.4505C20.3978 18.4597 20.1265 16.5855 18.7881 15.2644Z"
      fill="white"
      stroke="white"
      stroke-linecap="round"
      stroke-linejoin="round"
    )
  symbol#svg-search
    path(
      d="M14.5776 15.0419C15.5805 14.03 16.2 12.6373 16.2 11.1C16.2 8.00721 13.6928 5.5 10.6 5.5C7.50721 5.5 5 8.00721 5 11.1C5 14.1928 7.50721 16.7 10.6 16.7C12.1555 16.7 13.5628 16.0658 14.5776 15.0419ZM14.5776 15.0419L19 19.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
  symbol#svg-en-uk
    g(clip-path="url(#clip0_64_4074)")
      path(
        d="M3.99951 16.592C4.79273 17.1471 5.67894 17.5768 6.63103 17.8541V13.9609L3.99951 16.592Z"
        fill="#29337A"
        stroke="transparent"
      )
      path(
        d="M0.550781 11.8711C0.848362 12.835 1.30437 13.7293 1.88714 14.5248L4.54082 11.8711H0.550781Z"
        fill="#29337A"
        stroke="transparent"
      )
      path(
        d="M1.73665 4.11523C1.15627 4.95762 0.7152 5.90349 0.447754 6.92011H4.54168L1.73665 4.11523Z"
        fill="#29337A"
        stroke="transparent"
      )
      path(
        d="M6.63105 0.574219C5.5941 0.876207 4.63375 1.35809 3.78809 1.98662L6.63105 4.82957V0.574219Z"
        fill="#29337A"
        stroke="transparent"
      )
      path(
        d="M3.79053 16.4449C3.859 16.496 3.92938 16.5445 3.99926 16.5934L6.63079 13.9622V17.8554C6.8836 17.9293 7.14037 17.9931 7.40159 18.0444V12.834L3.79053 16.4449Z"
        fill="white"
        stroke="transparent"
      )
      path(
        d="M0.350586 11.1016C0.406446 11.3627 0.472377 11.62 0.550392 11.8724H4.54047L1.88679 14.526C2.1754 14.9204 2.49544 15.2904 2.84318 15.6326L7.37419 11.1016H0.350586Z"
        fill="white"
        stroke="transparent"
      )
      path(
        d="M1.88474 3.90625C1.83443 3.97503 1.78484 4.0448 1.73623 4.11529L4.54127 6.92017H0.447338C0.380989 7.17268 0.326839 7.43006 0.282227 7.69097H5.66976L1.88474 3.90625Z"
        fill="white"
        stroke="transparent"
      )
      path(
        d="M6.63069 0.575732V4.83109L3.7877 1.98828C3.39576 2.27974 3.0294 2.60332 2.68994 2.9536L7.40134 7.665V0.386719C7.14028 0.438323 6.88351 0.502278 6.63069 0.575732Z"
        fill="white"
        stroke="transparent"
      )
      path(
        d="M6.63053 11.8438L6.60352 11.8709H6.63053V11.8438Z"
        fill="#EA8790"
        stroke="transparent"
      )
      path(
        d="M7.37451 11.1014H7.40149V11.0742L7.37451 11.1014Z"
        fill="#EA8790"
        stroke="transparent"
      )
      path(
        d="M10.8375 7.68945H10.8115V7.7156L10.8375 7.68945Z"
        fill="#EA8790"
        stroke="transparent"
      )
      path(
        d="M7.40137 7.66406V7.69066H7.42797L7.40137 7.66406Z"
        fill="#EA8790"
        stroke="transparent"
      )
      path(
        d="M6.65693 6.91929L6.63037 6.89258V6.91929H6.65693Z"
        fill="#EA8790"
        stroke="transparent"
      )
      path(
        d="M11.583 15.862V17.8795C12.5475 17.6095 13.4467 17.1839 14.251 16.6294L12.065 14.4434C11.8904 15.0571 11.8264 15.3744 11.583 15.862Z"
        fill="#252F6C"
        stroke="transparent"
      )
      path(
        d="M16.379 14.5792C16.9799 13.7707 17.4483 12.8581 17.7526 11.873H13.6729L16.379 14.5792Z"
        fill="#252F6C"
        stroke="transparent"
      )
      path(
        d="M12.0766 4.33763L14.4629 1.95125C13.6056 1.3234 12.633 0.844942 11.583 0.550781V2.62324C11.8637 3.18527 11.8873 3.61232 12.0766 4.33763Z"
        fill="#252F6C"
        stroke="transparent"
      )
      path(
        d="M17.8551 6.92177C17.582 5.88368 17.1277 4.92007 16.529 4.06445L13.6714 6.92177H17.8551Z"
        fill="#252F6C"
        stroke="transparent"
      )
      path(
        d="M10.8125 17.0237V18.0604C11.0737 18.0118 11.3306 17.9515 11.5833 17.8808V15.8633C11.3562 16.3183 11.0991 16.7132 10.8125 17.0237Z"
        fill="#E7E7E7"
        stroke="transparent"
      )
      path(
        d="M12.6016 11.2559L13.22 11.8743L16.1804 14.8347C16.2476 14.7505 16.3143 14.6667 16.3786 14.5804L13.6725 11.8743H17.7522C17.83 11.6221 17.896 11.3647 17.9517 11.1035H12.6594C12.6507 11.2128 12.6119 11.1473 12.6016 11.2559Z"
        fill="#E7E7E7"
        stroke="transparent"
      )
      path(
        d="M11.9346 14.3146L14.2508 16.6311C14.636 16.3657 14.9988 16.0704 15.3373 15.7499L12.2907 12.7031C12.1935 13.2666 12.0781 13.8108 11.9346 14.3146Z"
        fill="#E7E7E7"
        stroke="transparent"
      )
      path(
        d="M11.983 4.78889L14.6661 2.10549C14.5989 2.05335 14.5315 2.00148 14.4629 1.95117L12.0765 4.33756C12.1012 4.43191 11.96 4.69225 11.983 4.78889Z"
        fill="#E7E7E7"
        stroke="transparent"
      )
      path(
        d="M12.5412 7.69213H18.0206C17.9761 7.43122 17.9219 7.17399 17.8555 6.92133H13.6717L16.5294 4.06401C16.2484 3.66268 15.9362 3.28526 15.5952 2.93555L12.3765 6.15395C12.4631 6.73775 12.5019 7.07679 12.5412 7.69213Z"
        fill="#E7E7E7"
        stroke="transparent"
      )
      path(
        d="M11.5828 2.4575V0.550721C11.3303 0.479965 11.0732 0.42 10.812 0.371094V1.30119C11.0988 1.61211 11.3559 2.00264 11.5828 2.4575Z"
        fill="#E7E7E7"
        stroke="transparent"
      )
      path(
        d="M12.6014 11.2539C12.5514 11.7857 12.3772 12.2 12.2905 12.7017L15.3371 15.7483C15.6385 15.4626 15.9203 15.1571 16.1801 14.8327L13.2199 11.8722L12.6014 11.2539Z"
        fill="#EE8388"
        stroke="transparent"
      )
      path(
        d="M18.0201 7.69141H12.6118C12.6834 8.82017 12.6748 9.98089 12.5859 11.1019H17.9516C18.0815 10.4933 18.1511 9.86263 18.1511 9.21549C18.1511 8.69564 18.1048 8.1872 18.0201 7.69141Z"
        fill="#EE8388"
        stroke="transparent"
      )
      path(
        d="M12.3762 6.15349L15.5946 2.93509C15.3048 2.63751 14.9942 2.36057 14.6656 2.10547L12.1367 4.63481C12.2491 5.10461 12.3002 5.64235 12.3762 6.15349Z"
        fill="#EE8388"
        stroke="transparent"
      )
      path(
        d="M11.583 16.2507C11.8264 15.763 12.0352 15.2015 12.21 14.5879L11.583 13.9609V16.2507Z"
        fill="#29337A"
        stroke="transparent"
      )
      path(
        d="M12.288 4.12446C12.0984 3.39915 11.8637 2.73976 11.583 2.17773V4.82914L12.288 4.12446Z"
        fill="#29337A"
        stroke="transparent"
      )
      path(
        d="M9.15093 18.2145C9.00129 18.2145 8.85179 18.2104 8.70215 18.2031C8.85096 18.2107 9.00045 18.2145 9.15093 18.2145Z"
        fill="#EA8790"
        stroke="transparent"
      )
      path(
        d="M9.15137 18.2139C9.71921 18.2139 10.2737 18.1589 10.8123 18.0581V17.0215C10.3395 17.5339 9.78647 18.2139 9.15137 18.2139Z"
        fill="#EA8790"
        stroke="transparent"
      )
      path(
        d="M8.70215 0.22594C8.8521 0.218682 9.00159 0.214844 9.1512 0.214844C9.00072 0.214844 8.85096 0.218682 8.70215 0.22594Z"
        fill="#EA8790"
        stroke="transparent"
      )
      path(
        d="M10.8123 1.36717V0.370303C10.2739 0.26983 9.7194 0.214844 9.15137 0.214844C9.78647 0.214844 10.3395 0.854885 10.8123 1.36717Z"
        fill="#EA8790"
        stroke="transparent"
      )
      path(
        d="M12.7767 11.4286C12.7869 11.32 12.7962 11.211 12.805 11.1016H12.4497L12.7767 11.4286Z"
        fill="white"
        stroke="transparent"
      )
      path(
        d="M10.8125 17.4072C11.0993 17.0963 11.3562 16.7058 11.5833 16.2509V13.9612L12.2103 14.5882C12.3541 14.0841 12.4747 13.5457 12.5722 12.9822L10.8125 11.2227L10.8125 17.4072Z"
        fill="white"
        stroke="transparent"
      )
      path(
        d="M11.5828 4.82935V2.1778C11.3557 1.72293 11.0988 1.33214 10.812 1.02148V5.95796L12.36 4.41001C12.3367 4.31338 12.3122 4.21872 12.2878 4.12436L11.5828 4.82935Z"
        fill="white"
        stroke="transparent"
      )
      path(
        d="M10.8384 7.69105H12.8307C12.7916 7.07575 12.7294 6.47037 12.6428 5.88672L10.8384 7.69105Z"
        fill="white"
        stroke="transparent"
      )
      path(
        d="M10.8122 17.4074V11.2228L12.5717 12.9825C12.6583 12.4807 12.7264 11.9603 12.7762 11.4284L12.4492 11.1014H12.8045C12.8933 9.98036 12.902 8.81964 12.8304 7.69092H10.8381L12.6424 5.88658C12.5663 5.37529 12.4723 4.88075 12.3599 4.4108L10.8122 5.95875V1.02227C10.3394 0.50984 9.78631 0.214844 9.15122 0.214844C9.00157 0.214844 8.85208 0.218682 8.70216 0.22594C8.2595 0.248094 7.82538 0.302549 7.4016 0.386111V7.66435L2.69009 2.95296C2.40061 3.25168 2.13134 3.56997 1.8849 3.90635L4.89883 6.92027L5.66989 7.69107H0.282392C0.197994 8.18671 0.151367 8.69515 0.151367 9.215C0.151367 9.86229 0.221288 10.4928 0.350869 11.1014H7.37462L2.84358 15.6325C3.14028 15.924 3.45618 16.1954 3.79058 16.4438L7.40149 12.8329V18.0433C7.82523 18.1269 8.25965 18.1813 8.70232 18.2035C8.85196 18.2107 9.00146 18.2148 9.1511 18.2148C9.78631 18.2148 10.3394 17.9198 10.8122 17.4074Z"
        fill="#E26171"
        stroke="transparent"
      )
    defs
      clipPath#clip0_64_4074
        rect(
          fill="white"
          transform="translate(0.151367 0.214844)"
          width="18"
          height="18"
        )
  symbol#svg-arrow-down
    path(
      d="M6.15137 9.21484L12.1514 15.2148L18.1514 9.21484"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
  symbol#svg-arrow-up
    path(
      d="M18.1514 15.2148L12.1514 9.21484L6.15137 15.2148"
      fill="transparent"
      stroke="white"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
  symbol#svg-arrow-left
    path(
      d="M15.1514 18.2148L9.15137 12.2148L15.1514 6.21484"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
  symbol#svg-arrow-right
    path(
      d="M9.15137 18.2148L15.1514 12.2148L9.15137 6.21484"
      fill="transparent"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
  symbol#svg-arrow-down-small
    path(
      d="M4.15137 6.21484L8.15137 10.2148L12.1514 6.21484"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
  symbol#svg-arrow-up-small
    path(
      d="M12.1514 10.2148L8.15137 6.21484L4.15137 10.2148"
      fill="transparent"
      stroke="white"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
  symbol#svg-arrow-left-small
    path(
      d="M10.1514 12.2148L6.15137 8.21484L10.1514 4.21484"
      fill="transparent"
      stroke="white"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
  symbol#svg-arrow-right-small
    path(
      d="M6.15137 12.2148L10.1514 8.21484L6.15137 4.21484"
      fill="transparent"
      stroke="white"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
  symbol#svg-ship
    path(
      d="M10.6712 3.52577C10.4633 3.57774 10.0952 3.79427 9.97832 3.93284C9.74014 4.21866 9.64487 4.47849 9.62322 4.92021L9.60156 5.33594L9.98698 5.27964C10.7751 5.16272 11.6586 5.11941 12.3558 5.17138C12.7152 5.20169 13.1872 5.24933 13.3994 5.27964L13.7849 5.33594L13.7632 4.92021C13.7329 4.28362 13.5207 3.92418 13.027 3.65569L12.7542 3.50845L11.7798 3.49979C11.2428 3.49546 10.7448 3.50845 10.6712 3.52577Z"
    )
    path(
      d="M10.8306 6.57007C10.2374 6.61338 9.96454 6.66101 8.74766 6.91651C8.0591 7.06375 7.67368 7.16769 7.55676 7.23697C7.30992 7.37988 7.0804 7.63538 6.96348 7.88656C6.8682 8.09442 6.86387 8.15938 6.85088 9.25934L6.83789 10.4199L7.00245 10.3593C8.72601 9.7357 10.4192 9.14674 10.6444 9.08612C11.0905 8.97352 12.3767 8.98651 12.8184 9.10777C13.0782 9.18139 15.9104 10.1731 16.4257 10.3723L16.547 10.4199L16.534 9.25934C16.521 8.15938 16.5166 8.09442 16.4214 7.88656C16.3045 7.63538 16.0749 7.37988 15.8281 7.23697C15.512 7.05076 13.4679 6.64369 12.4936 6.57007C11.8223 6.51811 11.4976 6.51811 10.8306 6.57007Z"
    )
    path(
      clip-rule="evenodd"
      d="M5.01488 12.5406C6.25775 12.0686 10.7788 10.4836 10.9997 10.4403L10.9391 18.4129C10.3285 18.0058 9.7828 17.7806 9.0726 17.6247C8.65253 17.5381 7.64352 17.5251 7.23212 17.603C6.66915 17.7113 5.93729 17.9885 5.53888 18.2396L5.38298 18.3392L5.32668 18.2223C4.71174 16.8755 4.02319 14.4028 4.08381 13.7402C4.13145 13.2205 4.51254 12.7269 5.01488 12.5406ZM12.4504 18.4129L12.3508 10.436C12.7146 10.5053 18.34 12.4973 18.6041 12.6489C18.9895 12.8741 19.2624 13.3028 19.3013 13.7489C19.362 14.3984 18.6691 16.8885 18.0585 18.2223L18.0065 18.3349L17.803 18.2136C17.2963 17.9018 16.4908 17.6377 15.7979 17.5641C14.6417 17.4341 13.4248 17.7416 12.4504 18.4129Z"
      fill-rule="evenodd"
    )
    path(
      d="M7.62172 18.9497C7.00679 19.0363 6.54775 19.2139 5.99344 19.5776C5.32654 20.0237 4.94112 20.1449 4.35216 20.106C3.90179 20.0756 3.64629 19.9934 3.24788 19.7509C2.84514 19.5127 2.6979 19.478 2.4424 19.5776C2.20422 19.6686 2.031 19.8851 2.00501 20.1319C1.96171 20.513 2.19556 20.7902 2.84081 21.1106C4.01871 21.6996 5.44346 21.6087 6.54342 20.8725C7.0371 20.5433 7.27961 20.4264 7.63904 20.3485C8.24532 20.2186 8.87758 20.3615 9.45354 20.7555C10.1334 21.2232 10.7484 21.4441 11.4716 21.4917C12.3377 21.548 13.1085 21.3185 13.9356 20.7512C14.5159 20.3571 15.1352 20.2186 15.7458 20.3485C16.1052 20.4264 16.3478 20.5433 16.8414 20.8725C17.6426 21.4095 18.591 21.6043 19.5524 21.4398C20.046 21.3532 20.5267 21.1626 20.8948 20.9071C21.2976 20.63 21.3712 20.5217 21.3712 20.2099C21.3712 19.8938 21.2283 19.6859 20.9425 19.5776C20.687 19.478 20.5397 19.5127 20.137 19.7509C19.7299 19.9977 19.4787 20.0756 19.011 20.106C18.4264 20.1449 18.0064 20.0064 17.3914 19.5776C16.7635 19.1359 16.0879 18.9324 15.2651 18.9367C14.4467 18.941 13.7581 19.1706 13.0349 19.6816C12.5889 19.9934 12.2554 20.0973 11.6924 20.0973C11.1165 20.0973 10.8566 20.015 10.3326 19.6686C9.83463 19.3438 9.4189 19.1446 9.00316 19.0406C8.60475 18.941 7.99848 18.8977 7.62172 18.9497Z"
    )
  symbol#svg-small
    path(
      d="M10.1514 3.21484L4.65137 8.71484L2.15137 6.21484"
      stroke="white"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
  symbol#svg-calendar
    path(
      d="M7.15852 6.35415C7.49191 6.35415 7.7624 6.08395 7.7624 5.75056V3.8184C7.7624 3.48505 7.49191 3.21484 7.15852 3.21484C6.82518 3.21484 6.55469 3.48505 6.55469 3.81843V5.7506C6.55469 6.08395 6.82518 6.35415 7.15852 6.35415Z"
    )
    path(
      d="M11.9876 6.35415C12.321 6.35415 12.5915 6.08395 12.5915 5.75056V3.8184C12.5915 3.48505 12.321 3.21484 11.9876 3.21484C11.6543 3.21484 11.3838 3.48505 11.3838 3.81843V5.7506C11.3838 6.08395 11.6543 6.35415 11.9876 6.35415Z"
    )
    path(
      d="M16.8168 6.35415C17.1501 6.35415 17.4206 6.08395 17.4206 5.75056V3.8184C17.4206 3.48505 17.1501 3.21484 16.8168 3.21484C16.4834 3.21484 16.2129 3.48505 16.2129 3.81843V5.7506C16.2129 6.08395 16.4834 6.35415 16.8168 6.35415Z"
    )
    path(
      d="M17.9997 4.79297H17.9043V5.75023C17.9043 6.34921 17.4169 6.83675 16.8175 6.83675C16.2185 6.83675 15.7307 6.34918 15.7307 5.75023V4.79297H13.0746V5.75023C13.0746 6.34921 12.5867 6.83675 11.9877 6.83675C11.3887 6.83675 10.9009 6.34918 10.9009 5.75023V4.79297H8.24483V5.75023C8.24483 6.34921 7.75697 6.83675 7.15802 6.83675C6.55907 6.83675 6.07118 6.34921 6.07118 5.75023V4.79297H5.97633C4.67268 4.79297 3.61621 5.84968 3.61621 7.15308V18.8542C3.61621 20.1575 4.67264 21.2143 5.97633 21.2143H17.9997C19.3028 21.2143 20.3598 20.1576 20.3598 18.8542V7.15308C20.3598 5.84972 19.3028 4.79297 17.9997 4.79297ZM18.8382 18.675C18.8382 19.2366 18.3813 19.6933 17.8203 19.6933H6.15576C5.59418 19.6933 5.13723 19.2366 5.13723 18.675V9.91106H18.8383V18.675H18.8382Z"
    )
  symbol#svg-check
    path(
      d="M20.1514 6.21484L9.15137 17.2148L4.15137 12.2148"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
  symbol#svg-x-mark
    path(
      d="M18.1514 6.21484L6.15137 18.2148"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
    path(
      d="M6.15137 6.21484L18.1514 18.2148"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
  symbol#svg-map
    path(
      clip-rule="evenodd"
      d="M13.7015 19.0989C15.6065 16.06 18.1514 11.865 18.1514 9.64341C18.1514 6.09302 15.2412 3.21484 11.6514 3.21484C8.06152 3.21484 5.15137 6.09302 5.15137 9.64341C5.15137 11.865 7.69629 16.06 9.60127 19.0989C10.4857 20.5095 10.9278 21.2148 11.6514 21.2148C12.3749 21.2148 12.8171 20.5095 13.7015 19.0989ZM11.6514 12.8577C13.4463 12.8577 14.9014 11.4186 14.9014 9.64341C14.9014 7.86822 13.4463 6.42913 11.6514 6.42913C9.85646 6.42913 8.40137 7.86822 8.40137 9.64341C8.40137 11.4186 9.85646 12.8577 11.6514 12.8577Z"
      fill-rule="evenodd"
    )
  symbol#svg-menu
    rect(fill="white" rx="1" x="2.15137" y="8.21484" width="20" height="2")
    rect(fill="white" rx="1" x="2.15137" y="14.2148" width="20" height="2")
  symbol#svg-message
    path(
      d="M3.4203 4.26989C3.15474 4.33628 2.91652 4.46515 2.70954 4.65651C2.44008 4.90644 2.37369 5.07827 2.47132 5.28525C2.49475 5.33993 3.36953 6.10926 4.41223 6.99576C6.92332 9.12803 9.94599 11.7172 10.9301 12.5803C11.6174 13.1817 11.7541 13.2832 11.9377 13.3379C12.129 13.3926 12.1681 13.3926 12.3555 13.3379C12.582 13.2715 12.5742 13.2793 13.6716 12.3186C14.5932 11.5102 17.3074 9.18661 19.8849 6.99576C20.9276 6.10926 21.8024 5.33993 21.8258 5.28525C21.9234 5.07827 21.857 4.90644 21.5876 4.65651C21.3728 4.45734 21.1033 4.31675 20.826 4.25817C20.5136 4.19178 3.68976 4.2035 3.4203 4.26989Z"
      fill="white"
    )
    path(
      d="M2.33496 7.71996C2.1436 7.83321 2.15141 7.5989 2.15141 13.3123C2.15141 16.7294 2.16703 18.7133 2.19046 18.846C2.31543 19.5099 2.85436 20.0489 3.51435 20.1738C3.80334 20.2285 20.4944 20.2285 20.7834 20.1738C21.4434 20.0489 21.9823 19.5099 22.1073 18.846C22.1307 18.7133 22.1463 16.7294 22.1463 13.3123C22.1463 7.57156 22.1542 7.8254 21.955 7.71606C21.8456 7.65748 21.5918 7.66919 21.4981 7.73168C21.3692 7.8215 16.1557 12.2657 14.9255 13.3357C14.3163 13.8629 13.6563 14.4331 13.461 14.6049C12.9065 15.0853 12.434 15.261 11.9185 15.179C11.4303 15.1009 11.2936 15.0111 10.2353 14.0816C9.01686 13.0116 3.20974 8.05191 2.83874 7.76292C2.71767 7.66919 2.45993 7.64576 2.33496 7.71996Z"
      fill="white"
    )
  symbol#svg-question
    path(
      d="M10.7512 16.2148C10.7512 14.8648 10.8722 13.8938 11.1142 13.3018C11.3562 12.7098 11.8685 12.0642 12.6512 11.3648C13.3345 10.7648 13.8555 10.2438 14.2142 9.80184C14.5728 9.35984 14.7518 8.85584 14.7512 8.28984C14.7512 7.60651 14.5222 7.03984 14.0642 6.58984C13.6062 6.13984 12.9685 5.91484 12.1512 5.91484C11.3012 5.91484 10.6552 6.17318 10.2132 6.68984C9.77117 7.20651 9.45917 7.73151 9.27717 8.26484L6.70117 7.16484C7.05117 6.09818 7.69284 5.17318 8.62617 4.38984C9.55951 3.60651 10.7345 3.21484 12.1512 3.21484C13.9012 3.21484 15.2472 3.70251 16.1892 4.67784C17.1312 5.65318 17.6018 6.82384 17.6012 8.18984C17.6012 9.02318 17.4222 9.73584 17.0642 10.3278C16.7062 10.9198 16.1435 11.5905 15.3762 12.3398C14.5595 13.1232 14.0638 13.7192 13.8892 14.1278C13.7145 14.5365 13.6268 15.2322 13.6262 16.2148H10.7512ZM12.1512 22.2148C11.6012 22.2148 11.1305 22.0188 10.7392 21.6268C10.3478 21.2348 10.1518 20.7642 10.1512 20.2148C10.1512 19.6648 10.3472 19.1938 10.7392 18.8018C11.1312 18.4098 11.6018 18.2142 12.1512 18.2148C12.7012 18.2148 13.1722 18.4108 13.5642 18.8028C13.9562 19.1948 14.1518 19.6655 14.1512 20.2148C14.1512 20.7648 13.9552 21.2358 13.5632 21.6278C13.1712 22.0198 12.7005 22.2155 12.1512 22.2148Z"
      fill="white"
    )
  symbol#svg-ru
    path(
      d="M24 18.1051C24 18.8124 23.719 19.4907 23.219 19.9908C22.7189 20.4909 22.0406 20.7718 21.3333 20.7718H2.66667C1.95942 20.7718 1.28115 20.4909 0.781049 19.9908C0.280952 19.4907 0 18.8124 0 18.1051V15.4385H24V18.1051Z"
      fill="#CE2028"
    )
    path(d="M0 8.77246H24V15.4391H0V8.77246Z" fill="#22408C")
    path(
      d="M21.3333 3.43848H2.66667C1.95942 3.43848 1.28115 3.71943 0.781049 4.21953C0.280952 4.71962 0 5.3979 0 6.10514L0 8.77181H24V6.10514C24 5.3979 23.719 4.71962 23.219 4.21953C22.7189 3.71943 22.0406 3.43848 21.3333 3.43848Z"
      fill="#EEEEEE"
    )
  symbol#svg-scroll
    path(
      d="M6.15137 18.2148L12.1514 12.2148L6.15137 6.21484"
      stroke="white"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
    path(
      d="M12.1514 18.2148L18.1514 12.2148L12.1514 6.21484"
      stroke="white"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
  symbol#svg-selected
    path(
      d="M19.8585 16.922C20.249 16.5314 20.249 15.8983 19.8585 15.5077L13.4945 9.14378C13.104 8.75325 12.4708 8.75325 12.0803 9.14378C11.6898 9.5343 11.6898 10.1675 12.0803 10.558L17.7372 16.2148L12.0803 21.8717C11.6898 22.2622 11.6898 22.8954 12.0803 23.2859C12.4708 23.6764 13.104 23.6764 13.4945 23.2859L19.8585 16.922ZM4.15137 3.21484V14.2148H6.15137V3.21484H4.15137ZM7.15137 17.2148H19.1514V15.2148H7.15137V17.2148ZM4.15137 14.2148C4.15137 15.8717 5.49451 17.2148 7.15137 17.2148V15.2148C6.59908 15.2148 6.15137 14.7671 6.15137 14.2148H4.15137Z"
    )
  symbol#svg-ship
    path(
      d="M10.8216 3.24062C10.6137 3.29258 10.2456 3.50911 10.1287 3.64769C9.89053 3.9335 9.79526 4.19333 9.77361 4.63505L9.75195 5.05078L10.1374 4.99448C10.9255 4.87756 11.809 4.83425 12.5062 4.88622C12.8656 4.91653 13.3376 4.96417 13.5498 4.99448L13.9353 5.05078L13.9136 4.63505C13.8833 3.99846 13.6711 3.63903 13.1774 3.37053L12.9046 3.22329L11.9302 3.21463C11.3932 3.2103 10.8952 3.22329 10.8216 3.24062Z"
      fill="white"
    )
    path(
      d="M10.982 6.28492C10.3887 6.32822 10.1159 6.37586 8.89903 6.63136C8.21047 6.7786 7.82505 6.88253 7.70813 6.95182C7.46129 7.09473 7.23177 7.35023 7.11484 7.6014C7.01957 7.80927 7.01524 7.87422 7.00225 8.97418L6.98926 10.1348L7.15382 10.0741C8.87737 9.45054 10.5706 8.86159 10.7958 8.80096C11.2418 8.68837 12.528 8.70136 12.9697 8.82261C13.2296 8.89623 16.0617 9.88792 16.5771 10.0871L16.6983 10.1348L16.6853 8.97418C16.6723 7.87422 16.668 7.80927 16.5727 7.6014C16.4558 7.35023 16.2263 7.09473 15.9795 6.95182C15.6633 6.76561 13.6193 6.35853 12.6449 6.28492C11.9737 6.23295 11.6489 6.23295 10.982 6.28492Z"
      fill="white"
    )
    path(
      clip-rule="evenodd"
      d="M5.16625 12.2555C6.40911 11.7835 10.9302 10.1985 11.1511 10.1552L11.0904 18.1277C10.4798 17.7206 9.93417 17.4954 9.22396 17.3395C8.8039 17.2529 7.79489 17.2399 7.38348 17.3179C6.82051 17.4261 6.08865 17.7033 5.69024 17.9545L5.53434 18.0541L5.47805 17.9372C4.86311 16.5904 4.17455 14.1176 4.23518 13.455C4.28282 12.9354 4.6639 12.4417 5.16625 12.2555ZM12.6018 18.1277L12.5022 10.1508C12.8659 10.2201 18.4913 12.2122 18.7555 12.3637C19.1409 12.5889 19.4137 13.0177 19.4527 13.4637C19.5133 14.1133 18.8204 16.6033 18.2098 17.9372L18.1579 18.0497L17.9543 17.9285C17.4477 17.6167 16.6422 17.3525 15.9493 17.2789C14.793 17.149 13.5762 17.4565 12.6018 18.1277Z"
      fill="white"
      fill-rule="evenodd"
    )
    path(
      d="M7.77309 18.6645C7.15815 18.7512 6.69912 18.9287 6.14481 19.2925C5.4779 19.7385 5.09249 19.8598 4.50353 19.8208C4.05316 19.7905 3.79765 19.7082 3.39924 19.4657C2.9965 19.2275 2.84927 19.1929 2.59376 19.2925C2.35558 19.3834 2.18236 19.5999 2.15638 19.8468C2.11307 20.2279 2.34692 20.505 2.99217 20.8255C4.17008 21.4144 5.59483 21.3235 6.69479 20.5873C7.18847 20.2582 7.43098 20.1413 7.79041 20.0633C8.39669 19.9334 9.02895 20.0763 9.60491 20.4704C10.2848 20.9381 10.8997 21.1589 11.6229 21.2066C12.489 21.2629 13.2599 21.0334 14.087 20.4661C14.6673 20.072 15.2866 19.9334 15.8972 20.0633C16.2566 20.1413 16.4991 20.2582 16.9928 20.5873C17.794 21.1243 18.7423 21.3192 19.7037 21.1546C20.1974 21.068 20.6781 20.8775 21.0462 20.622C21.4489 20.3448 21.5226 20.2365 21.5226 19.9247C21.5226 19.6086 21.3796 19.4007 21.0938 19.2925C20.8383 19.1929 20.6911 19.2275 20.2883 19.4657C19.8813 19.7125 19.6301 19.7905 19.1624 19.8208C18.5778 19.8598 18.1577 19.7212 17.5428 19.2925C16.9149 18.8508 16.2393 18.6472 15.4165 18.6516C14.598 18.6559 13.9095 18.8854 13.1863 19.3964C12.7402 19.7082 12.4068 19.8121 11.8438 19.8121C11.2678 19.8121 11.008 19.7299 10.484 19.3834C9.986 19.0586 9.57026 18.8594 9.15453 18.7555C8.75612 18.6559 8.14985 18.6126 7.77309 18.6645Z"
      fill="white"
    )
  symbol#svg-triangle-down
    path(d="M12.5 14.5L17.5 19.5L22.5 14.5H12.5Z" fill="#001B23")
  symbol#svg-logo-mobile
    path(
      d="M61.868 44.2146H52.4667C51.1147 44.2069 49.7876 43.85 48.6136 43.1783C47.4396 42.5067 46.4585 41.5429 45.765 40.3803L23.0039 1.1771C23.0039 1.1771 29.2981 0.572068 33.5622 7.95638L50.2182 36.6626C51.1715 38.3028 51.8191 38.7766 53.7837 38.7766H58.448L44.4261 14.5826C41.3554 9.2685 44.87 3.1307 48.6756 1.30102C52.634 -0.608838 59.0447 -0.514075 62.5011 5.84241C64.131 8.8457 62.6539 12.9133 62.6539 12.9133L63.9564 16.6528C63.9564 16.6528 64.3275 17.892 63.6071 18.1107C62.8867 18.3294 62.3701 17.4328 62.3701 17.4328L56.8617 7.81788C56.2783 6.90908 55.3713 6.25702 54.325 5.99432C53.2788 5.73162 52.172 5.878 51.2297 6.40371C49.5561 7.38051 48.1953 9.59653 49.5924 12.0312L64.5822 37.9383C66.5323 41.2332 65.921 44.2146 61.868 44.2146Z"
      fill="white"
    )
    path(
      d="M13.7492 44.2161H7.09112L0.651367 33.1214C0.651367 33.1214 7.04746 32.7132 11.2024 39.9007L13.7492 44.2161Z"
      fill="white"
    )
    path(
      d="M40.9556 44.2137H25.1873C23.83 44.2132 22.496 43.8596 21.3161 43.1874C20.1363 42.5153 19.1509 41.5477 18.4564 40.3794L8.08008 22.4981C8.08008 22.4981 14.3743 21.8931 18.6384 29.2701L22.9388 36.6617C23.892 38.3019 24.5396 38.7757 26.5043 38.7757H31.1686L15.5385 11.8772C15.5385 11.8772 21.8328 11.2722 26.0968 18.6492L40.9556 44.2137Z"
      fill="white"
    )
  symbol#svg-check-small-green
    path(
      d="M10 3.5L4.5 9L2 6.5"
      fill="transparent"
      stroke="#004155"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
  symbol#svg-app-store
    g(clip-path="url(#clip0_1281_15001)")
      path(
        d="M6.34346 0.599903C3.31533 1.13115 1.02432 3.48194 0.572754 6.52334C0.473145 7.1874 0.473145 27.8132 0.572754 28.4772C1.0376 31.5784 3.42158 33.9624 6.52275 34.4272C7.18682 34.5269 27.8126 34.5269 28.4767 34.4272C31.5778 33.9624 33.9618 31.5784 34.4267 28.4772C34.5263 27.8132 34.5263 7.1874 34.4267 6.52334C33.9618 3.42217 31.5778 1.03819 28.4767 0.573341C27.7196 0.460449 6.99424 0.487015 6.34346 0.599903ZM16.5501 7.65889C16.8356 7.80498 17.1677 8.15029 17.3337 8.46904C17.3935 8.58193 17.4665 8.66826 17.4997 8.66826C17.5329 8.66826 17.606 8.58193 17.6657 8.46904C17.8317 8.15029 18.1638 7.81162 18.456 7.65225C18.8411 7.45303 19.5517 7.45303 19.9302 7.65225C20.2622 7.83154 20.654 8.26982 20.7603 8.58193C20.8001 8.70811 20.82 9.01357 20.8067 9.25264L20.7868 9.69756L17.8782 14.7245C16.2845 17.4937 14.9763 19.7714 14.9763 19.7913C14.9763 19.8112 15.7731 19.8245 16.756 19.8245H18.529L19.4587 21.4315C19.97 22.3147 20.4017 23.0651 20.4083 23.0917C20.4216 23.1249 17.4931 23.1382 13.9005 23.1315L7.37275 23.1116L7.10049 22.9655C6.78174 22.7995 6.42978 22.4144 6.30361 22.1089C6.18408 21.8233 6.18408 21.146 6.30361 20.8604C6.42978 20.555 6.78174 20.1698 7.10049 20.0038C7.35947 19.8644 7.46572 19.8577 9.23877 19.8378L11.1114 19.8179L13.3493 15.9397L15.5806 12.0616L14.963 10.9792C14.6177 10.3815 14.3056 9.81045 14.2591 9.71084C14.1528 9.4585 14.1595 8.78115 14.2724 8.50889C14.4517 8.07725 14.8833 7.69209 15.3747 7.53272C15.6403 7.44639 16.2579 7.51279 16.5501 7.65889ZM22.0751 16.6702L23.8747 19.7913L25.754 19.8245C27.5204 19.8577 27.6399 19.8644 27.8989 20.0038C28.2177 20.1698 28.5696 20.555 28.6958 20.8604C28.8153 21.146 28.8153 21.8233 28.6958 22.1089C28.5696 22.421 28.2177 22.7995 27.8989 22.9655C27.6665 23.0851 27.4938 23.1116 26.7235 23.1315L25.8204 23.1581L26.4048 24.1675C27.0821 25.3362 27.195 25.6749 27.0688 26.2327C26.8032 27.428 25.2958 27.9194 24.386 27.1159C24.2067 26.9565 23.3235 25.4823 21.2185 21.83C19.6114 19.0476 18.2966 16.7433 18.2966 16.7101C18.2966 16.6636 19.7774 14.0671 20.0696 13.589C20.1228 13.5026 20.1958 13.4628 20.2224 13.4894C20.2489 13.5226 21.0856 14.9503 22.0751 16.6702ZM12.1739 24.619C12.1208 24.7054 11.8087 25.2366 11.4899 25.8011C10.806 26.9831 10.5337 27.2819 10.0091 27.4347C9.07939 27.7069 8.13643 27.1624 7.93057 26.2327C7.83096 25.7745 7.91064 25.3694 8.20947 24.8382L8.41533 24.4729H10.3411H12.2669L12.1739 24.619Z"
        fill="#00ABE1"
        stroke="transparent"
      )
    defs
      clipPath#clip0_1281_15001
        rect(
          fill="white"
          transform="translate(0.5 0.5)"
          width="34"
          height="34"
        )
  symbol#svg-android
    path(
      d="M6.34434 7.51226C6.22734 7.63957 6.14933 7.86873 6.18833 7.99604C6.21434 8.13608 6.94238 9.29461 7.78742 10.5677C9.00949 12.4392 9.2825 12.923 9.13949 13.0121C6.59136 14.4761 5.5123 15.2655 4.16022 16.6659C2.34013 18.5755 1.01405 20.8926 0.416022 23.2224C0.247013 23.8462 0.117006 24.8901 0.0780042 25.8704L0 27.5H18.5H37L36.922 25.8704C36.766 22.0893 35.1669 18.792 32.1117 15.9657C31.0587 14.9854 29.3946 13.8141 28.2765 13.254C27.9645 13.1012 27.7305 12.8975 27.7695 12.8211C27.7955 12.732 28.5105 11.6371 29.3426 10.3767C30.1746 9.1291 30.8507 7.99604 30.8507 7.88146C30.8507 7.63957 30.4476 7.25764 30.1746 7.25764C29.8756 7.25764 29.5506 7.66503 27.9905 10.0585C27.1845 11.2806 26.5084 12.2991 26.4954 12.3246C26.4694 12.3501 25.8064 12.1591 25.0004 11.9045C20.8791 10.6059 16.1079 10.6059 11.9866 11.9172C11.1936 12.1591 10.5306 12.3501 10.5176 12.3246C10.4916 12.2991 9.76353 11.1915 8.87948 9.8675C8.00843 8.53074 7.21539 7.41041 7.13739 7.35949C6.89037 7.19398 6.59136 7.24491 6.34434 7.51226ZM10.8946 18.13C11.6356 18.601 11.9086 19.5304 11.5316 20.307C11.2326 20.9435 10.6736 21.2618 9.86753 21.2618C9.3085 21.2618 9.1785 21.2109 8.73647 20.7653C8.28145 20.3324 8.22944 20.2051 8.22944 19.6577C8.22944 18.8938 8.55446 18.3336 9.15249 18.0408C9.65952 17.7862 10.4136 17.8244 10.8946 18.13ZM27.8215 18.0408C28.4455 18.3209 28.7706 18.8811 28.7706 19.6577C28.7706 20.2051 28.7186 20.3324 28.2635 20.7653C27.8215 21.2109 27.6915 21.2618 27.1325 21.2618C26.3264 21.2618 25.7674 20.9435 25.4684 20.307C25.0524 19.454 25.4034 18.4992 26.3134 18.0536C26.8725 17.7735 27.2365 17.7607 27.8215 18.0408Z"
      fill="#71D88C"
      stroke="transparent"
    )
  symbol#svg-facebook
    path(
      clip-rule="evenodd"
      d="M17.5102 2.18415L2.68381 2.20983C2.17548 2.21071 1.76439 2.62323 1.76527 3.13156L1.79095 17.9586C1.79183 18.4663 2.20435 18.8774 2.71268 18.8765L10.6953 18.8626L10.6841 12.4085L8.51191 12.4123L8.50755 9.89698L10.6798 9.89322L10.6766 8.03836C10.6728 5.88558 11.9854 4.71109 13.9062 4.70776C14.8263 4.70616 15.6167 4.77355 15.8474 4.8037L15.8512 7.0537L14.5193 7.0567C13.4749 7.05851 13.2736 7.55539 13.2749 8.28316L13.2777 9.88941L15.7687 9.8851L15.4487 12.4009L13.282 12.4047L13.2932 18.8581L17.5404 18.8508C18.0474 18.8499 18.4585 18.4374 18.4576 17.9291L18.4319 3.1027C18.431 2.59436 18.0185 2.18327 17.5102 2.18415Z"
      fill="#101D26"
      fill-rule="evenodd"
    )
  symbol#svg-instagram
    path(
      clip-rule="evenodd"
      d="M10.097 2.11203C7.8338 2.11595 7.55049 2.12616 6.66167 2.16798C3.63552 2.31211 1.95649 3.99419 1.82285 7.02359C1.78342 7.91325 1.77419 8.19659 1.77811 10.4598C1.78203 12.723 1.79224 13.007 1.83406 13.8958C1.97819 16.9219 3.66027 18.601 6.68967 18.7346C7.57932 18.7734 7.86267 18.7826 10.1259 18.7787C12.3891 18.7748 12.6731 18.7645 13.5619 18.7227C16.5852 18.5786 18.2684 16.8965 18.4 13.8671C18.4394 12.9782 18.4487 12.6941 18.4447 10.4309C18.4408 8.16773 18.4306 7.88441 18.3888 6.99559C18.2475 3.97222 16.5633 2.29041 13.5339 2.15677C12.6442 2.11734 12.3602 2.10811 10.097 2.11203ZM10.1053 6.16593C7.74214 6.17002 5.82949 8.08931 5.83358 10.4525C5.83768 12.8157 7.75697 14.729 10.1202 14.7249C12.4833 14.7209 14.396 12.8016 14.3919 10.4377C14.3878 8.07449 12.4685 6.16183 10.1053 6.16593ZM10.1154 13.2223C8.58134 13.2249 7.33544 11.984 7.33278 10.4493C7.33013 8.91527 8.57172 7.66937 10.1057 7.66671C11.6398 7.66405 12.8857 8.90565 12.8883 10.4397C12.891 11.9744 11.6494 13.2196 10.1154 13.2223ZM14.5515 4.98997C13.9987 4.99092 13.5516 5.43962 13.5525 5.9917C13.5535 6.54378 14.0022 6.99092 14.5549 6.98996C15.107 6.98901 15.5535 6.54032 15.5525 5.98823C15.5516 5.43615 15.1036 4.98901 14.5515 4.98997Z"
      fill="#101D26"
      fill-rule="evenodd"
    )
  symbol#svg-youtube
    path(
      clip-rule="evenodd"
      d="M15.3893 3.81374C12.8862 3.64725 7.31194 3.6576 4.81293 3.83206C2.10701 4.02147 1.79109 5.65674 1.7784 9.95955C1.80598 14.2546 2.1248 15.8958 4.83414 16.0765C7.33443 16.2423 12.908 16.2333 15.4105 16.0582C18.1164 15.8688 18.4324 14.2335 18.445 9.93068C18.4175 5.63558 18.0987 3.99447 15.3893 3.81374ZM8.03306 12.726L8.02344 7.17041L13.5838 9.9337L8.03306 12.726Z"
      fill="#101D26"
      fill-rule="evenodd"
    )
  symbol#svg-linkedin
    path(
      d="M7.03862 5.2846C7.03927 5.81503 6.82918 6.324 6.45457 6.69953C6.07996 7.07507 5.57151 7.28641 5.04108 7.28706C4.51065 7.28771 4.00168 7.07763 3.62615 6.70302C3.25061 6.32841 3.03927 5.81996 3.03862 5.28952C3.03797 4.75909 3.24805 4.25012 3.62266 3.87459C3.99727 3.49906 4.50572 3.28772 5.03615 3.28706C5.56659 3.28641 6.07555 3.49649 6.45109 3.87111C6.82662 4.24572 7.03796 4.75416 7.03862 5.2846ZM7.10464 8.76449L3.10465 8.77142L3.12634 21.2914L7.12633 21.2845L7.10464 8.76449ZM13.4246 8.75354L9.44464 8.76043L9.46633 21.2804L13.4063 21.2736L13.3949 14.7036C13.3886 11.0436 18.158 10.6953 18.1649 14.6953L18.1763 21.2653L22.1263 21.2585L22.1126 13.3285C22.1019 7.15851 15.0423 7.40074 13.3875 10.4336L13.4246 8.75354Z"
      fill="black"
    )
  symbol#svg-paper-map
    path(
      d="M10 14L6 12.6L2.9 13.8C2.67778 13.8889 2.47222 13.8638 2.28333 13.7247C2.09444 13.5856 2 13.3996 2 13.1667V3.83333C2 3.68889 2.04178 3.56111 2.12533 3.45C2.20889 3.33889 2.32267 3.25556 2.46667 3.2L6 2L10 3.4L13.1 2.2C13.3222 2.11111 13.5278 2.13622 13.7167 2.27533C13.9056 2.41444 14 2.60044 14 2.83333V12.1667C14 12.3111 13.9582 12.4389 13.8747 12.55C13.7911 12.6611 13.6773 12.7444 13.5333 12.8L10 14ZM9.33333 12.3667V4.56667L6.66667 3.63333V11.4333L9.33333 12.3667ZM10.6667 12.3667L12.6667 11.7V3.8L10.6667 4.56667V12.3667ZM3.33333 12.2L5.33333 11.4333V3.63333L3.33333 4.3V12.2Z"
      fill="#E9AC60"
    )
  symbol#svg-question-mark
    path(
      d="M4.41602 6.66667C4.41602 6.10417 4.46643 5.69958 4.56727 5.45292C4.6681 5.20625 4.88157 4.93722 5.20768 4.64583C5.4924 4.39583 5.70949 4.17875 5.85893 3.99458C6.00838 3.81042 6.08296 3.60042 6.08268 3.36458C6.08268 3.07986 5.98727 2.84375 5.79643 2.65625C5.6056 2.46875 5.3399 2.375 4.99935 2.375C4.64518 2.375 4.37602 2.48264 4.19185 2.69792C4.00768 2.91319 3.87768 3.13194 3.80185 3.35417L2.72852 2.89583C2.87435 2.45139 3.14171 2.06597 3.5306 1.73958C3.91949 1.41319 4.40907 1.25 4.99935 1.25C5.72852 1.25 6.28935 1.45319 6.68185 1.85958C7.07435 2.26597 7.27046 2.75375 7.27018 3.32292C7.27018 3.67014 7.1956 3.96708 7.04643 4.21375C6.89726 4.46042 6.66282 4.73986 6.3431 5.05208C6.00282 5.37847 5.79629 5.62681 5.72352 5.79708C5.65074 5.96736 5.61421 6.25722 5.61393 6.66667H4.41602ZM4.99935 9.16667C4.77018 9.16667 4.57407 9.085 4.41102 8.92167C4.24796 8.75833 4.16629 8.56222 4.16602 8.33333C4.16602 8.10417 4.24768 7.90792 4.41102 7.74458C4.57435 7.58125 4.77046 7.49972 4.99935 7.5C5.22852 7.5 5.42477 7.58167 5.5881 7.745C5.75143 7.90833 5.83296 8.10444 5.83268 8.33333C5.83268 8.5625 5.75102 8.75875 5.58768 8.92208C5.42435 9.08542 5.22824 9.16694 4.99935 9.16667Z"
    )
  symbol#svg-filter
    path(
      d="M3.5 7.5C3.5 7.10218 3.65804 6.72064 3.93934 6.43934C4.22064 6.15804 4.60218 6 5 6H27C27.3978 6 27.7794 6.15804 28.0607 6.43934C28.342 6.72064 28.5 7.10218 28.5 7.5C28.5 7.89782 28.342 8.27936 28.0607 8.56066C27.7794 8.84196 27.3978 9 27 9H5C4.60218 9 4.22064 8.84196 3.93934 8.56066C3.65804 8.27936 3.5 7.89782 3.5 7.5ZM7.5 15.5C7.5 15.1022 7.65804 14.7206 7.93934 14.4393C8.22064 14.158 8.60218 14 9 14H23C23.3978 14 23.7794 14.158 24.0607 14.4393C24.342 14.7206 24.5 15.1022 24.5 15.5C24.5 15.8978 24.342 16.2794 24.0607 16.5607C23.7794 16.842 23.3978 17 23 17H9C8.60218 17 8.22064 16.842 7.93934 16.5607C7.65804 16.2794 7.5 15.8978 7.5 15.5ZM11.5 23.5C11.5 23.1022 11.658 22.7206 11.9393 22.4393C12.2206 22.158 12.6022 22 13 22H19C19.3978 22 19.7794 22.158 20.0607 22.4393C20.342 22.7206 20.5 23.1022 20.5 23.5C20.5 23.8978 20.342 24.2794 20.0607 24.5607C19.7794 24.842 19.3978 25 19 25H13C12.6022 25 12.2206 24.842 11.9393 24.5607C11.658 24.2794 11.5 23.8978 11.5 23.5Z"
      fill="#004155"
    )
  symbol#svg-arrow-big
    path(
      d="M22.8736 6.20796C22.2182 6.51892 21.7096 7.06308 21.3379 7.85343C21.064 8.43647 21.0444 8.56603 21.0444 9.71915V10.963L24.3604 20.8098C26.1895 26.2256 27.9013 31.3305 28.1752 32.1467C28.674 33.6238 28.674 33.6367 28.674 34.9971V36.3576L24.869 47.6815C21.0738 58.9665 21.064 59.0054 21.0151 60.016C20.9759 60.9748 20.9955 61.1043 21.289 61.8947C21.8269 63.3458 22.9225 64.1361 24.1941 63.9807C25.2407 63.8511 25.6222 63.5142 28.5762 60.2103C33.5843 54.6002 47.034 38.3269 47.523 37.3034C48.1686 35.9041 48.1588 34.0513 47.4937 32.6391C47.1024 31.8358 37.7513 20.4212 31.3639 12.9583C28.5762 9.70619 25.8569 6.75213 25.3189 6.40231C24.6147 5.94883 23.6072 5.87109 22.8736 6.20796Z"
    )
  symbol#svg-location
    path(
      clip-rule="evenodd"
      d="M13.5501 18.8841C15.4551 15.8452 18 11.6502 18 9.42857C18 5.87817 15.0898 3 11.5 3C7.91015 3 5 5.87817 5 9.42857C5 11.6502 7.54492 15.8452 9.4499 18.8841C10.3343 20.2947 10.7764 21 11.5 21C12.2236 21 12.6657 20.2947 13.5501 18.8841ZM11.5 12.6429C13.2949 12.6429 14.75 11.2038 14.75 9.42857C14.75 7.65337 13.2949 6.21429 11.5 6.21429C9.70509 6.21429 8.25 7.65337 8.25 9.42857C8.25 11.2038 9.70509 12.6429 11.5 12.6429Z"
      fill-rule="evenodd"
    )
  symbol#svg-flag-ru
    rect(
      fill="white"
      rx="1.75"
      stroke="#F5F5F5"
      stroke-width="0.5"
      x="0.25"
      y="0.25"
      width="27.5"
      height="19.5"
    )
    mask#mask0_267_2000(
      maskunits="userSpaceOnUse"
      style="mask-type: luminance"
      x="0"
      y="0"
      width="28"
      height="20"
    )
      rect(
        fill="white"
        rx="1.75"
        stroke="white"
        stroke-width="0.5"
        x="0.25"
        y="0.25"
        width="27.5"
        height="19.5"
      )
    g(mask="url(#mask0_267_2000)")
      path(
        clip-rule="evenodd"
        d="M0 13.3334H28V6.66675H0V13.3334Z"
        fill="#0C47B7"
        fill-rule="evenodd"
      )
      path(
        clip-rule="evenodd"
        d="M0 19.9999H28V13.3333H0V19.9999Z"
        fill="#E53B35"
        fill-rule="evenodd"
      )
  symbol#svg-flag-ge
    rect(
      fill="white"
      rx="1.75"
      stroke="#F5F5F5"
      stroke-width="0.5"
      x="0.25"
      y="0.25"
      width="27.5"
      height="19.5"
    )
    mask#mask0_267_1173(
      maskunits="userSpaceOnUse"
      style="mask-type: luminance"
      x="0"
      y="0"
      width="28"
      height="20"
    )
      rect(
        fill="white"
        rx="1.75"
        stroke="white"
        stroke-width="0.5"
        x="0.25"
        y="0.25"
        width="27.5"
        height="19.5"
      )
    g(mask="url(#mask0_267_1173)")
      path(
        clip-rule="evenodd"
        d="M16 21.3334H12V12.0001H-1.33334V8.00008H12V-1.33325H16V8.00008H29.3333V12.0001H16V21.3334Z"
        fill="#FF2B37"
        fill-rule="evenodd"
      )
      path(
        clip-rule="evenodd"
        d="M21.6 4.4L20 4.66667V3.33333L21.6 3.6L21.3333 2H22.6667L22.4 3.6L24 3.33333V4.66667L22.4 4.4L22.6667 6H21.3333L21.6 4.4Z"
        fill="#FD0D1B"
        fill-rule="evenodd"
      )
      path(
        clip-rule="evenodd"
        d="M5.6 4.4L4 4.66667V3.33333L5.6 3.6L5.33333 2H6.66667L6.4 3.6L8 3.33333V4.66667L6.4 4.4L6.66667 6H5.33333L5.6 4.4Z"
        fill="#FD0D1B"
        fill-rule="evenodd"
      )
      path(
        clip-rule="evenodd"
        d="M5.6 16.4L4 16.6667V15.3333L5.6 15.6L5.33333 14H6.66667L6.4 15.6L8 15.3333V16.6667L6.4 16.4L6.66667 18H5.33333L5.6 16.4Z"
        fill="#FD0D1B"
        fill-rule="evenodd"
      )
      path(
        clip-rule="evenodd"
        d="M21.6 16.4L20 16.6667V15.3333L21.6 15.6L21.3333 14H22.6667L22.4 15.6L24 15.3333V16.6667L22.4 16.4L22.6667 18H21.3333L21.6 16.4Z"
        fill="#FD0D1B"
        fill-rule="evenodd"
      )
  symbol#svg-arrows-out
    path(
      d="M15 4.5H19.5V9"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
    path(
      d="M14.25 9.75L19.5 4.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
    path(
      d="M9 19.5H4.5V15"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
    path(
      d="M9.75 14.25L4.5 19.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    )
  symbol#svg-user
    path(
      d="M12 4C13.0609 4 14.0783 4.42143 14.8284 5.17157C15.5786 5.92172 16 6.93913 16 8C16 9.06087 15.5786 10.0783 14.8284 10.8284C14.0783 11.5786 13.0609 12 12 12C10.9391 12 9.92172 11.5786 9.17157 10.8284C8.42143 10.0783 8 9.06087 8 8C8 6.93913 8.42143 5.92172 9.17157 5.17157C9.92172 4.42143 10.9391 4 12 4ZM12 14C16.42 14 20 15.79 20 18V20H4V18C4 15.79 7.58 14 12 14Z"
    )
  symbol#svg-tree
    path(
      d="M12 21.75V8.25" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    )
    path(
      d="M12 14.25L7.5 12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    )
    path(
      d="M12 12L16.5 9.75" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    )
    path(
      d="M12.4206 16.9874C13.1087 17.4561 13.8868 17.7764 14.7054 17.928C15.524 18.0797 16.3652 18.0593 17.1755 17.8682C17.9859 17.677 18.7475 17.3194 19.4121 16.8179C20.0767 16.3165 20.6296 15.6822 21.0358 14.9554C21.4419 14.2287 21.6924 13.4253 21.7712 12.5965C21.8501 11.7677 21.7555 10.9316 21.4937 10.1413C21.2319 9.351 20.8084 8.62385 20.2503 8.00609C19.6922 7.38833 19.0116 6.89348 18.2518 6.55302C18.085 6.46915 17.9525 6.32998 17.8768 6.15927C17.3908 5.00142 16.5737 4.0129 15.5279 3.31773C14.4822 2.62256 13.2544 2.25171 11.9987 2.25171C10.743 2.25171 9.51523 2.62256 8.46949 3.31773C7.42375 4.0129 6.6066 5.00142 6.12058 6.15927C6.04494 6.32998 5.9124 6.46915 5.74558 6.55302C4.98583 6.89348 4.30525 7.38833 3.74713 8.00609C3.189 8.62385 2.76555 9.351 2.5037 10.1413C2.24186 10.9316 2.14734 11.7677 2.22618 12.5965C2.30501 13.4253 2.55547 14.2287 2.96162 14.9554C3.36776 15.6822 3.92071 16.3165 4.5853 16.8179C5.24988 17.3194 6.01155 17.677 6.82186 17.8682C7.63217 18.0593 8.47339 18.0797 9.29201 17.928C10.1106 17.7764 10.8887 17.4561 11.5768 16.9874C11.7021 16.9051 11.8488 16.8613 11.9987 16.8613C12.1486 16.8613 12.2953 16.9051 12.4206 16.9874Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    )
  symbol#svg-alarm
    path(
      d="M12 6.75V12H17.25" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    )
    path(
      d="M12 20.25C16.5563 20.25 20.25 16.5563 20.25 12C20.25 7.44365 16.5563 3.75 12 3.75C7.44365 3.75 3.75 7.44365 3.75 12C3.75 16.5563 7.44365 20.25 12 20.25Z" stroke-width="2" stroke-miterlimit="10"
    )
    path(
      d="M18.3672 2.4563L21.5453 5.63442" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    )
    path(
      d="M2.45703 5.63442L5.63516 2.4563" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    )
  symbol#svg-include
    path(
      d="M20 6L9 17L4 12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    )
  symbol#svg-paw
    path(
      d="M9.375 3.75C8.5725 3.75 7.875 4.2075 7.4295 4.8285C6.984 5.4495 6.75 6.255 6.75 7.125C6.75 7.995 6.98475 8.8005 7.4295 9.42225C7.875 10.0425 8.5725 10.5 9.375 10.5C10.1775 10.5 10.875 10.0425 11.3205 9.4215C11.766 8.8005 12 7.995 12 7.125C12 6.255 11.7653 5.4495 11.3205 4.82775C10.875 4.2075 10.1775 3.75 9.375 3.75ZM12 7.125C12 7.995 12.2347 8.8005 12.6795 9.42225C13.125 10.0425 13.8225 10.5 14.625 10.5C15.4275 10.5 16.125 10.0425 16.5705 9.4215C17.0153 8.8005 17.25 7.995 17.25 7.125C17.25 6.255 17.0153 5.4495 16.5705 4.82775C16.125 4.2075 15.4275 3.75 14.625 3.75C13.8225 3.75 13.125 4.2075 12.6795 4.8285C12.2347 5.4495 12 6.255 12 7.125ZM9.375 5.25C9.60975 5.25 9.867 5.367 10.1017 5.6955C10.335 6.0225 10.5 6.54525 10.5 7.125C10.5 7.70475 10.3358 8.22675 10.1017 8.5545C9.867 8.883 9.60975 9 9.375 9C9.14025 9 8.883 8.883 8.64825 8.5545C8.415 8.2275 8.25 7.70475 8.25 7.125C8.25 6.54525 8.41425 6.02325 8.64825 5.6955C8.883 5.367 9.14025 5.25 9.375 5.25ZM14.625 5.25C14.8597 5.25 15.117 5.367 15.3517 5.6955C15.585 6.0225 15.75 6.54525 15.75 7.125C15.75 7.70475 15.5857 8.22675 15.3517 8.5545C15.117 8.883 14.859 9 14.625 9C14.3903 9 14.133 8.883 13.8983 8.5545C13.665 8.2275 13.5 7.70475 13.5 7.125C13.5 6.54525 13.6643 6.02325 13.8983 5.6955C14.133 5.367 14.391 5.25 14.625 5.25ZM5.625 9C4.8225 9 4.125 9.4575 3.6795 10.0785C3.23475 10.6988 3 11.505 3 12.375C3 13.245 3.23475 14.0505 3.6795 14.6722C4.125 15.2925 4.8225 15.75 5.625 15.75C6.4275 15.75 7.125 15.2925 7.5705 14.6715C8.016 14.0505 8.25 13.245 8.25 12.375C8.25 11.505 8.01525 10.6995 7.5705 10.0778C7.125 9.4575 6.4275 9 5.625 9ZM18.375 9C17.5725 9 16.875 9.4575 16.4295 10.0785C15.9847 10.6995 15.75 11.505 15.75 12.375C15.75 13.245 15.9847 14.0505 16.4295 14.6722C16.875 15.2925 17.5725 15.75 18.375 15.75C19.1775 15.75 19.875 15.2925 20.3205 14.6715C20.7652 14.0505 21 13.245 21 12.375C21 11.505 20.7652 10.6995 20.3205 10.0778C19.875 9.4575 19.1775 9 18.375 9ZM5.625 10.5C5.85975 10.5 6.117 10.617 6.35175 10.9455C6.585 11.2725 6.75 11.7952 6.75 12.375C6.75 12.9548 6.58575 13.4768 6.35175 13.8045C6.117 14.133 5.85975 14.25 5.625 14.25C5.39025 14.25 5.133 14.133 4.89825 13.8045C4.665 13.4775 4.5 12.9548 4.5 12.375C4.5 11.7952 4.66425 11.2733 4.89825 10.9455C5.133 10.617 5.391 10.5 5.625 10.5ZM18.375 10.5C18.6097 10.5 18.867 10.617 19.1017 10.9455C19.3358 11.2733 19.5 11.7952 19.5 12.375C19.5 12.9548 19.3358 13.4768 19.1017 13.8045C18.867 14.133 18.609 14.25 18.375 14.25C18.1403 14.25 17.883 14.133 17.6483 13.8045C17.415 13.4775 17.25 12.9548 17.25 12.375C17.25 11.7952 17.4143 11.2733 17.6483 10.9455C17.883 10.617 18.141 10.5 18.375 10.5ZM12 12C11.001 12 10.3035 12.6503 9.96075 13.2188C9.618 13.7872 9.41025 14.2613 9.21075 14.4608C9.09375 14.5785 8.37075 14.8507 7.617 15.2347C7.239 15.4275 6.85875 15.6855 6.53925 16.0785C6.1884 16.5174 5.99813 17.0631 6 17.625C6 19.0665 7.1835 20.25 8.625 20.25C9.27525 20.25 9.9525 20.0422 10.617 19.8517C11.2823 19.6613 12 19.5 12 19.5C12 19.5 12.7177 19.6613 13.383 19.8517C14.0475 20.0422 14.7247 20.25 15.375 20.25C16.8165 20.25 18 19.0665 18 17.625C18 17.0302 17.7803 16.485 17.4608 16.1017C17.1412 15.7177 16.758 15.4808 16.383 15.2812C15.633 14.883 14.8942 14.5665 14.7892 14.4608C14.61 14.2823 14.4082 13.7933 14.0625 13.2188C13.7175 12.6442 13.005 12 12 12ZM12 13.5C12.495 13.5 12.5505 13.62 12.7733 13.992C12.996 14.364 13.1663 14.994 13.7108 15.5392C14.3287 16.1572 15.111 16.2922 15.6795 16.5938C15.9645 16.746 16.1835 16.9073 16.3125 17.0625C16.4415 17.2177 16.5 17.361 16.5 17.625C16.5 18.255 16.005 18.75 15.375 18.75C15.1575 18.75 14.4578 18.5828 13.8045 18.3983C13.152 18.2137 12.612 18 12 18C11.388 18 10.8488 18.2137 10.1955 18.3983C9.54225 18.5828 8.84175 18.75 8.625 18.75C7.995 18.75 7.5 18.255 7.5 17.625C7.5 17.3235 7.5615 17.1675 7.6875 17.0153C7.8135 16.863 8.04225 16.7137 8.3205 16.5705C8.88 16.2855 9.65625 16.1715 10.2892 15.5392C10.8397 14.988 11.007 14.3378 11.2267 13.9688C11.4465 13.5997 11.499 13.5 12 13.5Z"
    )
  symbol#svg-warning
    path(
      d="M11 15H13V17H11V15ZM11 7H13V13H11V7ZM12 2C6.47 2 2 6.5 2 12C2 14.6522 3.05357 17.1957 4.92893 19.0711C5.85752 19.9997 6.95991 20.7362 8.17317 21.2388C9.38642 21.7413 10.6868 22 12 22C14.6522 22 17.1957 20.9464 19.0711 19.0711C20.9464 17.1957 22 14.6522 22 12C22 10.6868 21.7413 9.38642 21.2388 8.17317C20.7362 6.95991 19.9997 5.85752 19.0711 4.92893C18.1425 4.00035 17.0401 3.26375 15.8268 2.7612C14.6136 2.25866 13.3132 2 12 2ZM12 20C9.87827 20 7.84344 19.1571 6.34315 17.6569C4.84285 16.1566 4 14.1217 4 12C4 9.87827 4.84285 7.84344 6.34315 6.34315C7.84344 4.84285 9.87827 4 12 4C14.1217 4 16.1566 4.84285 17.6569 6.34315C19.1571 7.84344 20 9.87827 20 12C20 14.1217 19.1571 16.1566 17.6569 17.6569C16.1566 19.1571 14.1217 20 12 20Z"
    )