.privacy-policy
  .privacy-policy__wrapper
    .privacy-policy__sidebar
      .privacy-policy__sticky
        a(href="#independent-data-controllers").privacy-policy__link.active
          svg.privacy-policy__link__icon(
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
          )
            use(xlink:href="#svg-selected")
          span Independent Data controllers
        a(href="#personal-data-categories").privacy-policy__link
          svg.privacy-policy__link__icon(
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
          )
            use(xlink:href="#svg-selected")
          span Personal Data Categories
        a(href="#legal-basis-of-data-processing").privacy-policy__link
          svg.privacy-policy__link__icon(
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
          )
            use(xlink:href="#svg-selected")
          span Legal basis of data processing
        a(href="#method-of-data-processing").privacy-policy__link
          svg.privacy-policy__link__icon(
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
          )
            use(xlink:href="#svg-selected")
          span Method of data processing
        a(href="#diffusion-of-personal-data").privacy-policy__link
          svg.privacy-policy__link__icon(
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
          )
            use(xlink:href="#svg-selected")
          span Diffusion of personal data
        a(href="#non-eu-countries-data-transfer").privacy-policy__link
          svg.privacy-policy__link__icon(
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
          )
            use(xlink:href="#svg-selected")
          span Non-EU countries data transfer
        a(href="#data-retention-period").privacy-policy__link
          svg.privacy-policy__link__icon(
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
          )
            use(xlink:href="#svg-selected")
          span Data retention period
        a(href="#data-subject-rights").privacy-policy__link
          svg.privacy-policy__link__icon(
            viewBox="0 0 24 24"
            width="24px"
            height="24px"
          )
            use(xlink:href="#svg-selected")
          span Data subject rights
    .privacy-policy__content
      .privacy-policy__block#independent-data-controllers
        h2.privacy-policy__title Independent Data controllers
        .privacy-policy__item
          .privacy-policy__body
            p The personal data processing carried out on this website is mainly for the purpose of information about Swan Hellenic cruises and booking such cruises by the Travel Agencies and customers that may use the webiste for processing the personal data of customers.
            p All travel agencies and entities external to Swan Hellenic acting as business partners are independent data controllers of the data they process once they manage their clientele independently as well as their cruise preferences being able to choose from other cruise companies for example and are not in any way controlled by Swan Hellenic.
            p The website is centrally managed by Swan Hellenic Limited UK based in 60 Petty France, London, SW1H 9AJ
      .privacy-policy__block#personal-data-categories
        h2.privacy-policy__title Personal data categories
        .privacy-policy__item
          .privacy-policy__body
            p The personal data managed through the Website includes common personal data (e.g.: name, surname, contact details) and financial data (card details, payment details) of the customers and of the business partners, that are collected for the purposes of booking cruises and obtaining information about the cruises offered by the Swan Hellenic and for linked third parties offering similar services. Customers may agree by ticking the box to give their consent to receive information about Swan Hellenic as well as from partners of Swan Hellenic and affiliates offering similar services (opt-in)
      .privacy-policy__block#legal-basis-of-data-processing
        h2.privacy-policy__title Legal basis of data processing
        .privacy-policy__item
          .privacy-policy__body
            p The personal data is collected and processed in accordance with the applicable privacy laws. For the purposes of receiving information about or booking a cruise, the consent of the data subject is not necessary, given that the processing is carried out:
            ul
              li In order to take steps prior to entering into a contract, in accordance with article 6.1.b of the GDPR;
              li For the performance of a contract and of the related obligations, in accordance with article 6.1.b of the GDPR;
              li For the execution of obligations and duties (administrative, fiscal, financial, etc.) in accordance with the legal obligations of the respective Data Controller, in accordance with article 6.1.c of the GDPR.
              li Providing the personal data for the above-mentioned purposes is not mandatory, however, in the absence of such data, the Data Controllers may not be able to perform the agreement.
              li When consumer or business partners sign up to receive our Swan Hellenic newsletters, containing insights, tips, current promotions or travel agent information we firstly obtain their consent which is logged in our internal databases and can be revoked at any time.
      .privacy-policy__block#method-of-data-processing
        h2.privacy-policy__title Method of data processing
        .privacy-policy__item
          .privacy-policy__body
            p The data processing is carried out in such a way as to guarantee the security and privacy of the information
            p Furthermore, the data will be:
            ul
              li Processed in a lawful and fair manner;
              li Collected and registered for specific and lawful purposes, and used in other processing activities only to the extent that such activities are compatible with the initial purposes for which the data were collected;
              li Adequate, relevant and limited to what is necessary in relation to the purposes for which they are processed;
              li Kept in a form which permits identification of data subjects for no longer than is necessary for the purposes for which the personal data are processed;
      .privacy-policy__block#diffusion-of-personal-data
        h2.privacy-policy__title Diffusion of personal data
        .privacy-policy__item
          .privacy-policy__body
            p The personal data processed on the website could be transmitted to third parties, in particular:
            ul
              li Swan Hellenic Companies, duly appointed “data processors” in accordance with article 28 of the GDPR;
              li Banks and insurance institutes that provide functional performance for the purpose above indicated, as autonomous data controller;
              li Suppliers of goods/services, insofar as the data is strictly necessary for the performance of the requested business activity, duly appointed “data processors” in accordance with article 28 of the GDPR;
              li Company consultants (duly appointed “data processors” in accordance with article 28 of the GDPR), where the communication of data is strictly necessary due to fiscal, administrative or contractual reasons;
              li Authorities, institutions and/or subjects to whom the data needs to be communicated in accordance with applicable laws or orders from relevant authorities; such authorities, institutions and/or subjects operate as independent data controllers.
            p The personal data processed on the Website will not be object of diffusion.
      .privacy-policy__block#non-eu-countries-data-transfer
        h2.privacy-policy__title Non-EU countries data transfer
        .privacy-policy__item
          .privacy-policy__body
            p The personal data are stored on a server located within the European Union In case data are transferred to a country outside the EU, an adequate level of protection will be ensured in accordance with the articles 46-49 of the GDPR.
      .privacy-policy__block#data-retention-period
        h2.privacy-policy__title Data retention period
        .privacy-policy__item
          .privacy-policy__body
            p The personal data will be stored on the website’s database for the period of time strictly necessary to fulfil the purposes for which they have been collected, as indicated above, and in accordance with the principles of limitation of storage and data minimisation contained in articles 5.1.c and 5.1.d. of the GDPR.
            p The Data Controllers may be required to store some data after the performance of the contract in order to fulfil regulatory, administrative or legal duties, in accordance with applicable laws. The data retained for such reasons will be processed in accordance with the principles of the GDPR and will be deleted, destroyed or anonymised as soon as possible after the above duties have been fulfilled. The maximum period of data retention in the website is one week, after which they will be deleted from the database.
      .privacy-policy__block#data-subject-rights
        h2.privacy-policy__title Data subject rights
        .privacy-policy__item
          .privacy-policy__body
            p Swan Hellenic have appointed a Data Protection Officer (DPO) and appropriate means to process Data Subject Requests (DSRs), which can be reached in this link.
            p In accordance with articles 15-22 of the GDPR, the data subject has, at any time, the right to:
            ul
              li Obtain access to his/her personal data;
              li Request the rectification or deletion of personal data or the restriction of data processing;
              li Oppose the treatment of personal data;
              li Receive his/her personal data in a structured format of common use and readable by an automatic device;
              li File a complaint with the relevant data protection authority (taking into account the place of residence of the data subject or the place of supplying of the services), in accordance with article 77 of GDPR, if he/she believes that the processing of personal data is in violation of the GDPR.
            p Notwithstanding the right of the data subject to oppose the processing of some or all of his/her personal data, the Data Controllers reserve the right to evaluate the request, which will not be accepted in case the legitimate reasons of the Data Controllers prevail over the rights and interests of the data subject.