section.ship-introducing
  .ship-introducing__image
    img(src="/assets/images/ship-page/item-2.png" alt="item-2" loading="lazy")
  .wrapper
    .ship-introducing__wrapper
      .ship-introducing__content
        .ship-introducing__top
          .grid.grid-two.ship-introducing__grid
            h2.ship-introducing__title INTRODUCIng
            .ship-introducing__description Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            .ship-introducing__items
              .ship-introducing__item
                .ship-introducing__icon
                  svg(viewBox="0 0 32 32" width="32" height="32")
                    use(xlink:href="#svg-profile")
                h5.ship-introducing__count 120
                .ship-introducing__name CREW
              .ship-introducing__item
                .ship-introducing__icon
                  svg(viewBox="0 0 33 33" width="33px" height="33px")
                    use(xlink:href="#svg-users")
                h5.ship-introducing__count 152
                .ship-introducing__name Guests
              .ship-introducing__item
                .ship-introducing__icon
                  svg(viewBox="0 0 32 32" width="32" height="32")
                    use(xlink:href="#svg-boat")
                h5.ship-introducing__count 9
                .ship-introducing__name DECKS
        .ship-introducing__bottom
          .splide.ship-introducing__slider
            .splide__track
              .splide__list.grid.grid-four.ship-introducing__grid-twentyfour
                .splide__slide.ship-introducing__data
                  .ship-introducing__parameter LENGHT
                  .ship-introducing__value 337 ft (115 m)
                .splide__slide.ship-introducing__data
                  .ship-introducing__parameter DRAFT
                  .ship-introducing__value 18 ft (5.5 m)
                .splide__slide.ship-introducing__data
                  .ship-introducing__parameter BREADTH
                  .ship-introducing__value 75 ft (23 m)
                .splide__slide.ship-introducing__data.ship-introducing__data-small
                  .ship-introducing__parameter REGISTERED
                  .ship-introducing__value Malta
                .splide__slide.ship-introducing__data
                  .ship-introducing__parameter CRUISING SPEED
                  .ship-introducing__value 15.5 knots in open water
                .splide__slide.ship-introducing__data
                  .ship-introducing__parameter LIFEBOATS
                  .ship-introducing__value 2 fully enclosed
                .splide__slide.ship-introducing__data.ship-introducing__data-wide
                  .ship-introducing__parameter PROPULSION DIESEL-ELECTRIC ENGINES
                  .ship-introducing__value 4x Medium speed, Polar code Cat A.
            .splide__arrows
              button.splide__arrow.flip-slider__arrow.splide__arrow--prev(
                type="button"
                aria-controls="splide01-track"
                aria-label="Previous slide"
              )
                svg(viewBox="0 0 24 24" width="24px" height="24px")
                  use(xlink:href="#svg-arrow-right")
              button.splide__arrow.flip-slider__arrow.splide__arrow--next(
                type="button"
                aria-controls="splide01-track"
                aria-label="Next slide"
              )
                svg(viewBox="0 0 24 24" width="24px" height="24px")
                  use(xlink:href="#svg-arrow-right")